<h5>Productos / Crear producto</h5>


<div class="modal" (ngSubmit)="onSubmit(f)">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="cerrar()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Producto</h3>
      </div>
      <div class="modal-body">
        <form clrForm #f="ngForm" clrLayout="horizontal" novalidate (ngSubmit)="onSubmit(f)">
          <clr-input-container>
            <label>Nombre producto:</label>
            <input type="text" clrInput id="nombre" size="40" placeholder="Nombre del producto" name="nombre" ngModel
              #nombre="ngModel" required />
            <clr-control-error>Es requerido!</clr-control-error>
          </clr-input-container>
          <br>
          <clr-select-container>
            <label>Categoría</label>
            <select clrSelect id="cat" placeholder="Categoría" name="cat" ngModel #nombre="ngModel" required>
              <option *ngFor="let cat of dataSource, let i=index" [value]="cat.codigo">{{cat.nombre}}</option>
            </select>
          </clr-select-container>
<br>
          <clr-input-container>
              <label>Descripción:</label>
              <input type="text" clrInput id="desc" size="40" placeholder="Descripción del producto" name="descripcion" ngModel #nombre="ngModel"
                required />
              <clr-control-error>Es requerido!</clr-control-error>
            </clr-input-container>
<br>
          <clr-input-container>
            <label>Agregar imagen</label>
            <input type="file" clrInput multiple name="foto" (change)="fileChange(foto)" #foto accept=".png,.jpg,.jpeg"
              ngModel required id="foto">
          </clr-input-container>


          <div *ngIf="imagen">
            <img class="img-fluid img-thumbnail" style="width: 50%; height: auto;" src='{{imagen}}' />
          </div>


          <br>
          <br>

        </form>
      </div>

      <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Agregar</a>
      <button class="btn btn-danger" (click)="volver()">Volver</button>
      <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text">
              Debe completar correctamente todos los campos
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
<!-- </div> -->