<h3>Escanee su código de reserva </h3>
<img style="width: 268px;    padding-right: 12px;"
     src="https://png.pngtree.com/element_origin_min_pic/17/09/14/a12ec569f1bd450e881bf4f2ab97773c.jpg">

<hr>

<!--  -->

<h3>Ingrese su número de reserva y la sucursal</h3>

<form clrForm #f="ngForm" clrLayout="horizontal" novalidate>


    <clr-radio-container clrInline>
        <label>Tiene reserva</label>
        <clr-radio-wrapper>
            <input type="radio" (change)="checkinOn()" clrRadio name="options" required value="si"
                   [(ngModel)]="options"/>
            <label>Si</label>
        </clr-radio-wrapper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-radio-container>

    <clr-input-container *ngIf="options=='si'">
        <label>Número de reserva:</label>
        <input type="text" clrInput id="reserva" size="40" placeholder="Número" name="reserva" ngModel #nombre="ngModel"
               required/>
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>

    <clr-select-container *ngIf="options==='no'">
        <label>Sucursal:</label>
        <select clrSelect id="sucursal" (change)="sucursalOn()" placeholder="Sucursal" name="sucursal"
                [(ngModel)]="sucursalNumero"
                required>
            <option *ngFor="let sucursal of sucursales, let i=index"
                    [value]="sucursal.numero">{{sucursal.nombre}}</option>
        </select>
    </clr-select-container>

    <br>
    <br>
    <a *ngIf="checkin" type="submit" (click)="onSubmit(f)" class="btn btn-success">Check-in</a>



    <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    Debe completar correctamente todos los campos
                </div>
            </div>

        </div>
    </div>

    <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="error">

        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    No se ha podido verificar su reserva, por favor verifique los datos he intente nuevamente
                </div>
            </div>

        </div>
    </div>

</form>

<div *ngIf="options=='no' && seleccionarSucursal">
    <h1>Mesas</h1>


    <p><strong class="label label-success">VERDE</strong> Mesa Libre</p>

    <p><strong class="label label-danger">ROJO</strong> Mesa con Pedido</p>

    <p><strong class="label label-warning">AMARILLO</strong> Mesa Reservada</p>
    <!-- <button *ngIf="selecciono" (click)="listo()" style="text-align: right;"
    class="btn btn-primary">Listo</button>


    Mesa seleccionada: <div *ngFor="let mesita of listaMesas">{{mesita.id}}</div> -->
    <div class="clr-row clr-justify-content-first ">

        <div class="card">
            <img class="card-img" src="../../../../../assets/layaout.jpeg">
            <div class="card-img-overlay">
                <a [ngStyle]="{'cursor': item.stat == 1?  'pointer' :  item.stat == 0 ? 'not-allowed':  'pointer' } "
                   *ngFor="let item of items"
                   (click)="seleccionarMesa(item)" >
                    <img class="img-fluid"
                         [src]="item.stat === 0 ? urlMesaRed : item.stat === 2 ? urlMesaYellow : urlMesaGreen"
                         style="position: absolute;"
                         [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
                    <strong style="cursor: pointer ;position: absolute;"
                            [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
                        {{item.id}}</strong>
                </a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="creado">

    <div class="modal" *ngIf="creado">
        <div class="modal-dialog" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
                        <clr-icon aria-hidden="true" shape="close"></clr-icon>
                    </button>
                    <h3 class="modal-title">Pedido creado:</h3>
                </div>
                <div class="modal-body">

                    <p>Desea realizar otro pedido?</p>
                </div>
                <a type="submit" (click)="cerrarModal()" class="btn btn-success">Aceptar</a>
                <button class="btn btn-danger" (click)="salir()">Salir</button>
                <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <div class="alert-text">
                                Debe completar correctamente todos los campos
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</div>