
<h5>Sucursales / Editar Sucursal</h5>
<form clrForm clrLayout="horizontal" [formGroup]="altaSucursal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <h1>Completá con los datos de la sucursal</h1>
    <clr-input-container>
        <label>Nombre</label>
        <input placeholder=" nombre sucursal" clrInput [(ngModel)]="sucursal.nombre" name="nombre" formControlName="nombre" required
        />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>
    <!-- <clr-input-container>
        <label>Número</label>
        <input placeholder="número sucursal" clrInput name="numero" formControlName="numero" required />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container> -->

    <clr-input-container>
        <label>Telefono</label>
        <input placeholder="telefono" clrInput name="telefono" [(ngModel)]="sucursal.telefono" formControlName="telefono" required />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Dirección</label>

        <input placeholder="busca tu Dirección" clrInput [(ngModel)]="sucursal.direccion" name="direccion" autocorrect="off" autocapitalize="off"
            spellcheck="off" type="text" class="form-control" #search formControlName="searchControl">
        <clr-control-helper>Ejemplo: calle falsa 1234, Mendoza</clr-control-helper>
        <clr-control-error>Es requerido!</clr-control-error>

    </clr-input-container>
    <br>

    <agm-map [latitude]="sucursal.latitud" [longitude]="sucursal.longitud" [scrollwheel]="false" [zoom]="12">
        <agm-marker [latitude]="sucursal.latitud" [longitude]="sucursal.longitud">
            <agm-info-window>
                <strong>Sucursal</strong>
            </agm-info-window>
        </agm-marker>
    </agm-map>

    <clr-input-container>
        <label>Hora desde reservable</label>
        <label for="hora" aria-haspopup="true" role="tooltip" [class.invalid]="hora.touched && !hora.valid"
            class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
            <input type="text" id="hora" [ngxTimepicker]="picker" id="hora" required [(ngModel)]="sucursal.horaDesde" [ngModelOptions]="{standalone: true}"
                name="hora" #hora="ngModel">
            <ngx-material-timepicker #picker></ngx-material-timepicker>
            <span class="tooltip-content">
                This field cannot be empty!
            </span>
        </label>
    </clr-input-container>
 
    <clr-input-container>
        <label>Hora hasta reservable</label>
        <label for="horaHas" aria-haspopup="true" role="tooltip" [class.invalid]="horaHas.touched && !horaHas.valid"
            class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
            <input type="text" id="horaHas" [ngxTimepicker]="picker2" id="horaHas" required [(ngModel)]="sucursal.horaHasta" [ngModelOptions]="{standalone: true}"
                name="horaHas" #horaHas="ngModel">
            <ngx-material-timepicker #picker2></ngx-material-timepicker>
            <span class="tooltip-content">
                This field cannot be empty!
            </span>
        </label>
    </clr-input-container>

 
    <!-- <div class="error active" *ngIf="isInvalid">
        La hora desde no puede ser mayor a la hora hasta
    </div> -->
    <clr-input-container> 
        <!-- [ngModel]="imagenPerfil.image" (ngModelChange)="actualizarImagen($event)" -->
        <label >Agregar imagen</label>
        <!-- <input type="file" multiple (change)="fileChange(input)" #input /> -->
         <input type="file" clrInput multiple  name="foto" (change)="fileChange(foto)"  #foto  accept=".png,.jpg,.jpeg" formControlName="foto" id="foto">
</clr-input-container>


<div *ngIf="sucursal.foto">
    <img  class="img-fluid img-thumbnail" style="width: 50%; height: auto;" [src]='getImage(sucursal.foto)' />
</div>
    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a (click)="volver()" href="javascript://" class="signup">Volver</a>

    <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    Debe completar correctamente todos los campos
                </div>

            </div>
        </div>
        <button type="button" (click)="cerrar()" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

</form>