<div *ngFor="let pedido of pedidos" class="card col-md-3">
  <div class="card-header">Numero de Pedido: {{pedido.idPedido}}</div>
  <div class="card-body">
    <div>
      <span *ngFor="let producto of pedido.producto"  class="card-text">{{producto.cantidad}} x {{producto.nombre}}<br></span>
      <span *ngFor="let producto of pedido.promocion"  class="card-text">{{producto.cantidad}} x {{producto.nombre}}</span><br>
      <span *ngFor="let producto of pedido.recompensa"  class="card-text">{{producto.cantidad}} x {{producto.nombre}}</span><br>
    </div>
  </div>
</div>