<clr-main-container>
  <h1>Abrir Caja</h1>
  <hr>
  <div class="col-md-12">
  <form *ngIf="abrirCajaGroup" clrForm [formGroup]="abrirCajaGroup" clrLayout="horizontal" novalidate>
      <clr-input-container class="col-md-12" *ngIf="!cajaAbierta == true">
          <label class="col-md-6">Monto inicial de la caja</label>
          <input class="col-md-6" clrInput type="number" name="monto" size="40" placeholder="Ingrese un número. Ejemplo: 22.95" formControlName="monto">
          <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
          <clr-control-error *clrIfError="'pattern'">¡Debe ingresar un número decimal!. Ejemplo: 2.50</clr-control-error>
      </clr-input-container>
      <clr-input-container class="col-md-12" *ngIf="!cajaAbierta == true">
          <label class="col-md-6">Comentario</label>
          <input class="col-md-6" clrInput type="text" size="40" placeholder="¿Tenía dinero la caja? Escribe algo si es relevante. " formControlName="comentario" name="apellido">
          <clr-control-error *clrIfError=" 'required' ">¡Campo requerido!</clr-control-error>
      </clr-input-container>
      <div class="col-md-12" style="margin-top: 25px;" *ngIf="!cajaAbierta == true">
      <a type="submit" *ngIf="abrirCajaGroup.status =='VALID'" (click)=onSubmit() class="btn btn-primary">Abrir Caja</a>
      <a (click)="volver()" class="btn btn-secondary ">Volver</a>
      <!-- <button class="btn btn-primary-outline" (click)="volver()">Volver <clr-icon size="22" shape="undo"></clr-icon>
</button> -->
      </div>
      <div class=" alert alert-app-level alert-danger " style=" margin-bottom:24px " *ngIf="abrirCajaGroup.status == 'INVALID' && (abrirCajaGroup.touched || abrirCajaGroup.dirty) ">
          <div class="alert-items">
              <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                      <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <div class="alert-text">
                      Debe completar correctamente todos los campos.
                  </div>
              </div>
          </div>
      </div>
      <div class="alert alert-app-level alert-success " style="margin-bottom:24px" *ngIf="cajaAbierta == true">
          <div class="alert-items">
              <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                      <clr-icon shape="success-standard" class="is-solid"></clr-icon>
                  </div>
                  <div class="alert-text">
                      La caja ha sido abierta satisfactoriamente.
                  </div>
      <a (click)="volver()" class="btn btn-secondary ">Volver</a>

              </div>
          </div>
      </div>
    </form>
  </div>
</clr-main-container>

