<!-- <div *ngFor="let producto of pedido.producto"> -->
<div *ngIf="pedido">
  <li class="list-group-item">{{pedido.cantidad}} <strong>{{pedido.nombre}}</strong> $ {{pedido.montoPesos}} <button
      class="btn btn-link clr-align-self-end" (click)="verProducto(pedido.idProducto)">ver plato</button><button class="btn btn-icon btn-warning clr-align-self-end"
      (click)="eliminarPlato(pedido.idProducto)">
      <clr-icon shape="trash"></clr-icon>
    </button> </li>
</div>
<div *ngIf="promocion">
  <li class="list-group-item">{{promocion.cantidad}} <strong>{{promocion.nombre}}</strong> $ {{promocion.monto}}
    <button class="btn btn-link clr-align-self-end" (click)="verProducto(pedido.idProducto)">ver plato</button><button
      class="btn btn-icon btn-warning clr-align-self-end" (click)="eliminarPlato(pedido.idProducto)">
      <clr-icon shape="trash"></clr-icon>
    </button> </li>
</div>
<div *ngIf="recompensa">
  <li class="list-group-item">{{recompensa.cantidad}} <strong>{{recompensa.nombre}}</strong> $ {{recompensa.puntos}}
    <button class="btn btn-link clr-align-self-end" (click)="verProducto(pedido.idProducto)">ver plato</button><button
      class="btn btn-icon btn-warning clr-align-self-end" (click)="eliminarPlato(pedido.idProducto)">
      <clr-icon shape="trash"></clr-icon>
    </button> </li>
</div>

<clr-modal *ngIf="producto" [(clrModalOpen)]="basic">
  <div class="modal-body">
    <div class="card">
      <div class="card-img">
        <img src={{imagen}}>
      </div>
      <div class="card-block">
        <h4 class="card-title">{{producto.nombre}}</h4>
        <p class="card-text">
          {{descripcion}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: <strong>$ {{producto.montoPesos}}</strong></li>

        <li class="list-group-item">
          Cantidad:
          <clr-icon shape="minus-circle" size="26" (click)="substracProductCant()"></clr-icon>
          <strong>
            {{producto.cantidad}}
          </strong>
          <clr-icon shape="plus-circle" size="26" (click)="addProductCant()"></clr-icon>
        </li>
      </ul>
      <div class="card-footer">
        <button [clrLoading]="validateBtnState" class="btn btn-link" (click)="addCart(producto)" [disabled]=" 0 >= cant">Modificar
          Pedido</button>
      </div>
    </div>
  </div>
</clr-modal>


<div *ngIf="eliminar">

  <div class="modal" *ngIf="eliminar">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">ELiminar plato:</h3>
        </div>
        <div class="modal-body">

          <p>Esta seguro de querer eliminar el el plato?</p>
        </div>
        <a type="submit" (click)="cerrarModal()" class="btn btn-success">Volver</a>
        <button class="btn btn-danger" (click)="borrar()">Eliminar</button>
        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <div class="alert-text">
                Debe completar correctamente todos los campos
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>