<h5>Sucursales / Crear nueva sucursal</h5>


<form clrForm clrLayout="horizontal" [formGroup]="altaSucursal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <h1>Completá con los datos de la sucursal</h1>
    <clr-input-container>
        <label>Nombre</label>
        <input placeholder=" nombre sucursal" clrInput name="nombre" formControlName="nombre" required />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Telefono</label>
        <input placeholder="telefono" clrInput name="telefono" formControlName="telefono" required />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>
    <!-- <clr-input-container>
        <label>Número</label>
        <input placeholder="número sucursal" clrInput name="numero" formControlName="numero" required />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container> -->

    <clr-input-container>
        <label>Dirección</label>

        <input placeholder="busca tu Dirección" clrInput name="direccion" [(ngModel)]="direccion" autocorrect="off" autocapitalize="off"
            spellcheck="off" type="text" class="form-control" #search formControlName="searchControl">
        <clr-control-helper>Ejemplo: calle falsa 1234, Mendoza</clr-control-helper>
        <clr-control-error>Es requerido!</clr-control-error>

    </clr-input-container>
    <br>

    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude">
            <agm-info-window>
                <strong>Sucursal</strong>
            </agm-info-window>
        </agm-marker>
    </agm-map>


    <clr-input-container>
        <!-- [ngModel]="imagenPerfil.image" (ngModelChange)="actualizarImagen($event)" -->
        <label>Agregar imagen</label>
        <!-- <input type="file" multiple (change)="fileChange(input)" #input /> -->
        <input type="file" clrInput multiple name="imagen" (change)="fileChange(imagen)" #imagen accept=".png,.jpg,.jpeg" formControlName="imagen"
            id="imagen">
    </clr-input-container>


    <div *ngIf="foto">
        <img class="img-fluid img-thumbnail" style="width: 50%; height: auto;" src='{{foto}}' />
    </div>



    <!-- [ngModel]="imagenPerfil.image" (ngModelChange)="actualizarImagen($event)" -->

    <!-- <clr-input-container> 
        <label >Agregar imagen</label>
        <input type="file" clrInput name="exampleFormControlFile1" #exampleFormControlFile1  (ngModelChange)="actualizarImagen($event)" formControlName="exampleFormControlFile1" id="exampleFormControlFile1">
</clr-input-container>


<div class="card-img" *ngIf="imagen != ''">
    <img src="{{imagen}}">
</div> -->

    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a (click)="volver()" href="javascript://" class="signup">Volver</a>

    <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    Debe completar correctamente todos los campos
                </div>

            </div>
        </div>
        <button type="button" (click)="cerrar()" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

</form>