<!-- Font Awesome -->
<link rel="stylesheet" href="../../../../../../assets/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../../../assets/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load. -->
<div class="content-area h-100 no-margin no-padding" id="bodyPanelCliente">
<div id="contenedorPanel" class="col-md-12">
    <div class="row">
        <div class=col-md-12>
            <h1>Bienvenido</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-bookmark"></i></span>
                        <div class="info-box-content">
                        <span class="info-box-text">Reservas</span>
                        <span class="info-box-number">1</span>
                        <div class="col-xs-12 no-padding no-margin">
                            <clr-dropdown>
                                    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                                            Nueva Reserva
                                            <clr-icon shape="caret down"></clr-icon>
                                        </button>
                                    <clr-dropdown-menu clrPosition="right-bottom" *clrIfOpen>
                                        <label class="dropdown-header">Selecciona sucursal</label>
                                        <div id="contenedorSucursales" *ngFor="let sucursal of sucursales">
                                                <button type="button" clrDropdownItem [routerLink]="['/reservas/'+sucursal.numero]" routerLinkActive="router-link-active">{{ sucursal.nombre}} </button>
                                        </div>
                                    </clr-dropdown-menu>
                                </clr-dropdown>
                        </div>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                        <!-- /.info-box -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-light-blue"><i class="fa fa-cutlery"></i></span>
                            <div class="info-box-content">
                            <span class="info-box-text">Menú</span>
                            <span class="info-box-number">¿Tienes hambre?</span>
                            <div class="col-xs-12 no-padding no-margin">
                                <clr-dropdown>
                                        <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                                                Ver menú    
                                                <clr-icon shape="caret down"></clr-icon>
                                            </button>
                                        <clr-dropdown-menu clrPosition="right-bottom" *clrIfOpen>
                                            <label class="dropdown-header">Selecciona sucursal</label>
                                            <div id="contenedorSucursales" *ngFor="let sucursal of sucursales">
                                                    <button type="button" clrDropdownItem [routerLink]="['/verCarta/'+sucursal.numero]" routerLinkActive="router-link-active" >{{sucursal.nombre}}</button>
                                            </div>
                                        </clr-dropdown-menu>
                                    </clr-dropdown>
                            </div>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                            <!-- /.info-box -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-gray"><i class="fa fa-star-half-o"></i></span>
                            <div class="info-box-content">
                            <span class="info-box-text">Reseñas</span>
                            <span class="info-box-number">1</span>
                            <button type="button" class="btn btn-outline-primary no-margin" [routerLink]="['/opiniones']" routerLinkActive="router-link-active" >Ver</button>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                            <!-- /.info-box -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="box box-success ">
                <div class="box-header with-border">
                    <h3 class="box-title ">Mis reservas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div *ngIf="reservasPendientes == false" class="alert-info">No tienes reservas pendientes</div>
                    <div *ngIf="reservasPendientes == true">
                        <div class="box-body">
                            <div class="col-xs-12" style="overflow-x:auto">
                                <table class="table table-hover" style="width: 100%">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cantidad de personas</th>
                                        <th>Mesa</th>
                                        <th>Sucursal</th>
                                        <th>Estado</th>
                                    </tr>
                                    <tr>
                                        <td>13/11/2018</td>
                                        <td>3</td>
                                        <td>5</td>
                                        <td>Sucursal Lingüini Uno</td>
                                        <td><span class="label label-success">Confirmada</span></td>
                                    </tr>
                                    <tr>
                                        <td>10/12/2018</td>
                                        <td>8</td>
                                        <td>6,7</td>
                                        <td>Sucursal Linguini Dos</td>
                                        <td><span class="label label-warning">Pendiente</span></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="box box-success ">
                <div class="box-header with-border">
                    <h3 class="box-title ">Mis Pedidos</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div *ngIf="tienePedidos == false" class="alert-info">No has realizado ningún pedido todavía</div>
                    <div *ngIf="tienePedidos == true">
                        <div class="box-body">
                            <div class="col-xs-12" style="overflow-x:auto">
                                <table class="table table-hover" style="width: 100%">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Estado</th>
                                        <th>Sucursal</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td>03/07/2018</td>
                                        <td>$1200,99</td>
                                        <td><span class="label label-success">Pagado</span></td>
                                        <td>Sucursal Lingüini Uno</td>
                                        <td><a class="btn btn-link" href="#"><i class="fa fa-eye"></i> Ver pedido</a></td>
                                    </tr>
                                    <tr>
                                        <td>17/08/2018</td>
                                        <td>$829</td>
                                        <td><span class="label label-success">Pagado</span></td>
                                        <td>Sucursal Linguini Uno</td>
                                        <td><a class="btn btn-link" href="#"><i class="fa fa-eye"></i> Ver pedido</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
</div>
