<div class="main-container">
    <div class="content-container">
        <div class="content-area">
          <div class="row h-100 clr-align-items-center clr-justify-content-center">
            <div class="clr-col-8" id="cajitablanca">
              <h2>Ingresa la nueva contraseña</h2>
              <h4 *ngIf="!passCambiada == true">Ya puedes completar<wbr> con una nueva contraseña.<wbr></h4>
              <form *ngIf="!passCambiada" clrForm [formGroup]="reestablecerGroup" clrLayout="horizontal" novalidate>
                  <clr-input-container class="col-md-12" *ngIf="!passCambiada == true">
                  <label>Ingresa la nueva contraseña</label>
                  <input clrInput type="password" name="email" size="40" formControlName="pass1">
                  <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                  <clr-control-error *clrIfError="'minlength'">La contraseña debe tener 8 caracteres como mínimo</clr-control-error>
                  </clr-input-container>
                  <clr-input-container class="col-md-12" *ngIf="!passCambiada == true">
                  <label>Repite la contraseña</label>
                  <input clrInput type="password" name="email" size="40" formControlName="pass2">
                  <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                  <clr-control-error *clrIfError="'minlength'">La contraseña debe tener 8 caracteres como mínimo</clr-control-error>
                  </clr-input-container>
              
              <div class="col-md-12" style="margin-top: 25px;" *ngIf="!passCambiada == true">
                  <button class="btn btn-primary btn-block" type="submit" *ngIf="reestablecerGroup.status =='VALID'" (click)=onSubmit() >Recuperar mi contraseña</button>
              </div>
             </form>      
              <div class="alert alert-app-level alert-success " style="margin-bottom:24px" *ngIf="passCambiada == true">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon shape="success-standard" class="is-solid"></clr-icon>
                      </div>
                      <div class="alert-text">
                        Tu contraseña se ha reestablecido correctamente. Ya puedes <a [routerLink]="['/login']" routerLinkActive="router-link-active"><strong>Iniciar sesión</strong></a> con tu nueva contraseña.
                      </div>
                    </div>
                  </div>
              </div>
              <div class="alert alert-app-level alert-warning " style="margin-bottom:24px" *ngIf="reestablecerGroup.get('pass1').dirty && reestablecerGroup.get('pass2').dirty && reestablecerGroup.getError('passwordsDistintas') ">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <clr-icon shape="warning-standard" class="is-solid"></clr-icon>
                    </div>
                    <div class="alert-text">
                      Las contraseñas ingresadas deben coincidir.
                    </div>
                  </div>
                </div>
            </div>
              <div class="alert alert-app-level alert-warning" style="margin-bottom:24px" *ngIf="error">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon shape="error-standard" class="is-solid"></clr-icon>
                      </div>
                      <div class="alert-text">
                        Ha ocurrido un error.
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          </div>
    </div>
  </div>