<div class="doNotPrint">
<h1>Pago pedido número: {{numero}}</h1>
<h2>Total a pagar: $ {{total}}</h2>
<p>Seleccione su forma de pago</p>

<form>
  <section class="form-block">
    <!-- <div class="form-group">
      <label>Efectivo</label>
      <clr-checkbox [clrChecked]="false">

      </clr-checkbox>
    </div> -->
    <!-- <div class="form-group">
      <label>Tarjeta Débito</label>

      <clr-checkbox name="termsCheckbox" id="checkrads_15" [(ngModel)]="debito">

      </clr-checkbox>
    </div> -->


    <div class="form-group">
      <label>Visa</label>

      <clr-checkbox name="termsCheckbox1" id="checkrads_1" [(ngModel)]="visa">

      </clr-checkbox>
    </div>

    <div class="form-group">
        <label>Master Card</label>
  
        <clr-checkbox name="termsCheckbox2" id="checkrads_2" [(ngModel)]="master">
  
        </clr-checkbox>
      </div>

      <div class="form-group">
          <label>American Express</label>
    
          <clr-checkbox name="termsCheckbox3" id="checkrads_3" [(ngModel)]="american">
    
          </clr-checkbox>
        </div>


        <div class="form-group">
            <label>Visa Débito</label>
      
            <clr-checkbox name="termsCheckbox4" id="checkrads_4" [(ngModel)]="visaD">
      
            </clr-checkbox>
          </div>

          <div class="form-group">
              <label>Maestro</label>
        
              <clr-checkbox name="termsCheckbox5" id="checkrads_5" [(ngModel)]="maestro">
        
              </clr-checkbox>
            </div>
    <!-- <div class="form-group">
      <label>Mercado Pago</label>
      <clr-checkbox [clrChecked]="false">

      </clr-checkbox>
    </div> -->
  </section>
</form>
<br>

<h2>Medios de pago disponibles</h2>
<br>
<br>

<img style="width: 110px;     padding-right: 12px;" src="https://i2.wp.com/www.sirchandler.com.ar/wp-content/uploads/2013/05/logo-visa.jpg?resize=607%2C352&ssl=1">
<img style="width: 110px;     padding-right: 12px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/MasterCard_early_1990s_logo.png/220px-MasterCard_early_1990s_logo.png">
<img style="width: 110px;    padding-right: 12px;" src="http://maltawinds.com/wp-content/uploads/2018/09/American-Express-copy.png">
<img style="width: 110px;    padding-right: 12px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Maestro_1992_logo.svg/2000px-Maestro_1992_logo.svg.png">
<img style="width: 110px;    padding-right: 12px;" src="https://http2.mlstatic.com/resources/frontend/landings-mp/images/mercadopago-og.jpg">

</div>
<div class="doNotPrint">
<div *ngIf="visa || master || american || visaD || maestro">

  <div class="modal" (ngSubmit)="onSubmit(f)" *ngIf="visa || master || american || visaD || maestro">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="cerrarCredito()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h1 class="modal-title"  *ngIf="visa">Pago Visa</h1>
          <h1 class="modal-title"  *ngIf="master">Pago Master Card</h1>
          <h1 class="modal-title"  *ngIf="american">Pago American Express</h1>
          <h1 class="modal-title"  *ngIf="visaD">Pago Visa Débito</h1>
          <h1 class="modal-title"  *ngIf="maestro">Pago Maestro</h1>
        </div>
        <div class="modal-body">
          <!-- <form clrForm  [formGroup]="pago"  #f="ngForm"  clrLayout="horizontal"  novalidate (ngSubmit)="onSubmit(f)"> -->
          <form clrForm clrLayout="horizontal" [formGroup]="pago" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <!-- <h4 class="modal-title">Medios de pago</h4> -->

            <img  *ngIf="visa || visaD" style="width: 60px;     padding-right: 12px;" src="https://i2.wp.com/www.sirchandler.com.ar/wp-content/uploads/2013/05/logo-visa.jpg?resize=607%2C352&ssl=1">
            <img  *ngIf="master" style="width: 60px;     padding-right: 12px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/MasterCard_early_1990s_logo.png/220px-MasterCard_early_1990s_logo.png">
            <img  *ngIf="american" style="width: 60px;    padding-right: 12px;" src="http://maltawinds.com/wp-content/uploads/2018/09/American-Express-copy.png">
            <img  *ngIf="maestro" style="width: 60px;    padding-right: 12px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Maestro_1992_logo.svg/2000px-Maestro_1992_logo.svg.png">
          
            <clr-input-container>
                <label>Nombre y Apellido</label>
                <input placeholder="tal como sale en la tarjeta" clrInput name="nombre" formControlName="nombre" required/>
                <clr-control-error>Es requerido!</clr-control-error>
            </clr-input-container>
            <!-- <clr-input-container>
              <label>Nombre del titular:</label>

              <input type="text" clrInput id="nombre" placeholder="Nombre del titular" name="nombre" ngModel #nombre="ngModel" required
              />
              <clr-control-error>Es requerido!</clr-control-error>

            </clr-input-container> -->
            <clr-input-container>
                <label>Dni</label>
                <input placeholder="tu dni" clrInput name="documento" formControlName="dni" required/>
                <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Solo se permiten números</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">No es un documento valido
                </clr-control-error> 
            </clr-input-container>
            <!-- <clr-input-container>
              <label>DNI:</label>

              <input type="text" clrInput id="documento" size="40" placeholder="documento del titular" name="documento" ngModel #nombre="ngModel"
              />

            </clr-input-container> -->
            <!-- <clr-input-container>
              <label>Email:</label>

              <input type="email" clrInput id="email" size="40" placeholder="Direccion de correo" name="email" ngModel #nombre="ngModel"
              />

            </clr-input-container> -->

            <clr-input-container>
                <label>Email</label>
                <input placeholder="tu email" clrInput name="correo" formControlName="emailFormControl"
                       required/>
                <!-- <clr-control-helper>Helper text</clr-control-helper> -->
                <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                <clr-control-error *clrIfError="'email'">Ingresa un email valido</clr-control-error>
            </clr-input-container>

            <!-- <clr-input-container>
              <label>Número de tarjeta:</label>
              <input type="text" clrInput id="numero" size="40" placeholder="Número de tarjeta" name="numero" ngModel #nombre="ngModel"
              />
            </clr-input-container> -->
            <!-- <clr-select-container>
                <label>Seleccione medio de pago</label>
                <select clrSelect name="medio" formControlName="medio">
                    <option value="2">Visa</option>
                    <option value="3">Master Card</option>
                    <option value="4">American Express</option>
                    <option value="5">Visa Débito</option>
                    <option value="6">Maestro</option>
                    <option>Visa</option>

                </select>
                <clr-control-helper>Seleccione un sexo</clr-control-helper>
                <clr-control-error>Es requerido!</clr-control-error>
            </clr-select-container> -->

            <clr-input-container>
              <label>Número de tarjeta:</label>
                <input placeholder="Número de tarjeta" clrInput name="numero" formControlName="numero" required/>
                <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Solo se permiten números</clr-control-error>

            </clr-input-container>


            <clr-input-container>
                <label>Mes de expiración:</label>
                  <input placeholder="01" clrInput name="mes" formControlName="mes" required/>
                  <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                  <clr-control-error *clrIfError="'pattern'">Solo se permiten números</clr-control-error>
                  <clr-control-error *clrIfError="'max'">Ingrese un mes valido</clr-control-error>
  
              </clr-input-container>
  

<!--             
            <clr-input-container>
              <label>Mes de expiración:</label>
              <input type="number" min="0" max="12" maxlenght="2" clrInput id="mes" size="40" placeholder="01" name="mes" ngModel #nombre="ngModel"
              />
            </clr-input-container> -->

            <clr-input-container>
                <label>Año de expiración:</label>
                  <input placeholder="01" clrInput name="ano" formControlName="ano" required/>
                  <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                  <clr-control-error *clrIfError="'pattern'">Solo se permiten números</clr-control-error>
  
              </clr-input-container>
            <!-- <clr-input-container>
              <label>Año de expiración:</label>
              <input type="number" min="18" max="99" maxlength="2" clrInput id="ano" size="40" placeholder="21" name="ano" ngModel #nombre="ngModel"
              />
            </clr-input-container> -->
            <clr-password-container>
                <label>Código de seguridad:</label>
                <input placeholder="Códido" clrPassword formControlName="codigo" name="codigo" required
                    maxlength="4" />
                <!-- <clr-control-helper>Debe contener por lo menos 8 caracteres</clr-control-helper> -->
                <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                <!-- <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!
                </clr-control-error> -->
            </clr-password-container>


            <!-- <clr-input-container>
              <label>Código de seguridad:</label>
              <input type="password" maxlength="4" clrInput id="codigo" size="40" placeholder="código" name="codigo" ngModel #nombre="ngModel"
              />
            </clr-input-container> -->

            <img style="width: 460px;    padding-right: 12px;" src="https://s3-eu-west-1.amazonaws.com/rankia/images/valoraciones/0020/0365/numeros-de-la-tarjeta-de-credito.jpg?1434034538">



            <br>
            <br>

          </form>
        </div>

        <!-- <a type="submit" (click)="pagar()" class="btn btn-success">Pagar</a> -->
        <!-- <p>{{pago.value}} | json</p> -->
        <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Pagar</a>

        <button class="btn btn-danger" (click)="cerrarCredito()">Volver</button>
        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <div class="alert-text">
                Debe completar correctamente todos los campos
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

</div>
<div class="doNotPrint">
<div *ngIf="confirmado">

  <div class="modal" *ngIf="confirmado">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Confirmado!</h3>
        </div>
        <div class="modal-body">

          <p>El pedido ha sido pagado, Gracias por confiar en nosotros!</p>
        </div>
        <a type="submit" (click)="irMenu()" class="btn btn-success">Menu</a>
        <!-- <button class="btn btn-danger" (click)="borrar()">Eliminar</button> -->
        <!-- <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
  
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <div class="alert-text">
                Debe completar correctamente todos los campos
              </div>
            </div>
  
          </div>
        </div>
   -->
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
</div>

<div class="doNotPrint">


<div *ngIf="error">

  <div class="modal" *ngIf="error">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Error!</h3>
        </div>
        <div class="modal-body">

          <p>Ha ocurrido un error y no hemos podido verificar la tarjeta, intente nuevamente!</p>
        </div>
        <a type="submit" (click)="cerrarModal()" class="btn btn-success">Re intentar</a>
        <!-- <button class="btn btn-danger" (click)="borrar()">Eliminar</button> -->
        <!-- <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
  
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <div class="alert-text">
                Debe completar correctamente todos los campos
              </div>
            </div>
  
          </div>
        </div>
   -->
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
</div>


<div class="doNotPrint">
<div *ngIf="pause">

  <div class="modal" *ngIf="pause">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Espera por favor</h3>
        </div>
        <div class="modal-body">

          <p>Tu pago esta siendo procesado</p>
        </div>
        <br>

        <span class="spinner spinner-lg center">

        </span>

        <!-- <button class="btn btn-danger" (click)="borrar()">Eliminar</button> -->
        <!-- <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
    
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                  Debe completar correctamente todos los campos
                </div>
              </div>
    
            </div>
          </div>
     -->
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
</div>









  <div class="modal" *ngIf="okFactura">


























    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
<div class="doNotPrint">
              
                <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                </div>




                <div class="invoice-box">
                    <table cellpadding="0" cellspacing="0">
                        <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="http://www.cervecerialancelot.com/areas/userfiles/images/restaurante_nombre.png" style="width:100%; max-width:300px;">
                                        </td>
                                        
                                        <td>
                                            Factura: {{factura.numero}}<br>
                                            Fecha: {{factura.fecha}}}<br>
                                            <!-- Due: February 1, 2015 -->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td>
                                            Restaurante.<br>
                                            12345 Peru 1052<br>
                                            CUIT: {{factura.cuitEmpresa}}
                                        </td>
                                        
                                        <td>
                                            {{factura.nombreCliente}}<br>
                                            {{factura.apellidoCliente}}<br>
                                            {{email}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <tr class="heading">
                            <td>
                                Metodo de Pago
                            </td>
                            
                            <td>
                               {{tipoPago}}
                            </td>
                        </tr>
                        
                        <tr class="details">
                            <td>
                                {{tipoPago}}
                            </td>
                            
                            <td>
                               {{total}}
                            </td>
                        </tr>
                        
                        <tr class="heading">
                            <td>
                                Item
                            </td>
                            
                            <td>
                                Precio
                            </td>
                        </tr>
                        
                        <tr class="item" *ngFor="let item of factura.detalles">
                            <td>
                                {{item.descripcion}} {{item.cantidad}}
                            </td>
                            
                            <td>
                                ${{item.subtotal}}
                            </td>
                        </tr>
                        
                        <!-- <tr class="item">
                            <td>
                                Hosting (3 months)
                            </td>
                            
                            <td>
                                $75.00
                            </td>
                        </tr>
                        
                        <tr class="item last">
                            <td>
                                Domain name (1 year)
                            </td>
                            
                            <td>
                                $10.00
                            </td>
                        </tr>
                         -->
                        <tr class="total">
                            <td></td>
                            
                            <td>
                               Total: {{total}}
                            </td>
                        </tr>
                    </table>
                </div>
                
                
<!--                 
                

                <h4 class="stack-header">
                    <span class="stack-title">Factura Nro: {{factura.numero}}</span>
                  
                  </h4>
                  <dl class="stack-view">

                      <div class="stack-block">
                          <dt class="stack-block-label">Cuit Empresa:</dt>
                          <dd class="stack-block-content">{{factura.cuitEmpresa}}</dd>
                      </div>
                      <div class="stack-block">
                          <dt class="stack-block-label">Fecha:</dt>
                          <dd class="stack-block-content">{{factura.fecha}}</dd>
                      </div>
                    <div class="stack-block">
                        <dt class="stack-block-label">Cliente:</dt>
                        <dd class="stack-block-content">{{factura.nombreCliente}}  {{factura.apellidoCliente}}</dd>
                    </div>

                    <div class="stack-block">
                        <dt class="stack-block-label">Total:</dt>
                        <dd class="stack-block-content">{{factura.total}}</dd>
                    </div>
                  
                    <div class="stack-block">
                        <dt class="stack-block-label">Consumición: </dt>
                         <dd class="stack-block-content">$ {{total}}</dd> 
                        <div class="stack-children">
                          <div class="stack-block" *ngFor="let item of factura.detalles">
                            <dt class="stack-block-label">{{item.cantidad}}  {{item.descripcion}}</dt>
                            <dd class="stack-block-content">$ {{item.subtotal}}</dd>
                        </div>
                         <div class="stack-block">
                            <dt class="stack-block-label">1 Milanesa</dt>
                            <dd class="stack-block-content">$ 45</dd>
                        </div>
                        <div class="stack-block">
                          <dt class="stack-block-label">1 Ravioles con salsa</dt>
                          <dd class="stack-block-content">$ 100</dd>
                      </div> 
                    </div>
                  </div>
                  
                  
                  <div class="stack-block">
                    <dt class="stack-block-label">IVA:</dt>
                    <dd class="stack-block-content">$ 49.35</dd>
                  </div> 
                  
                  <div class="stack-block">
                    <dt class="stack-block-label">Total a Pagar:</dt>
                    <dd class="stack-block-content">$ {{total}}</dd>
                  </div> 
                  
                  </dl> -->
<div class="doNotPrint">
                  
                  <button  (click)="imprimirFactura()" class="btn btn-primary">Imprimir</button>
                  </div>
<!--                   
               
                <button (click)="pagarPedido()" class="btn btn-primary">Pagar</button>  -->
            </div>

            <!-- <div class="modal-body" *ngIf="!estadiaSeleccionada">
                    <h4 class="stack-header">
                        <span class="stack-title">La mesa no posee una estadia</span>
    
                    </h4>
  
                </div> -->
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</div>
