<h1>Mesas para reservar</h1>
<br>

<h1>Clickee las mesas a reservar</h1>
<p><strong style="color:green">VERDE</strong>  Son las mesas que vas a reservar</p>

<p><strong style="color:red">ROJO</strong>  Son las mesas que NO estan disponibles reservar</p>

<p><strong style="color:gray">GRIS</strong>  Son las mesas que estan disponibles para reservar</p>

<br>

<div class="clr-row clr-justify-content-first ">


    <div class="card" >
        <img class="card-img" src="../../../../../assets/layaout.jpeg" >
        <div class="card-img-overlay">
         <a  [ngStyle]="{'cursor': item.stat == 0?  'pointer' :  item.stat == 2 ? 'pointer':  'not-allowed' } "  *ngFor="let item of items"  (click)="reservar(item)" >  
            <img class="img-fluid" [src]="item.stat == 0 ? urlMesa : item.stat == 1 ? urlMesaRed : urlMesaGreen" style="position: absolute;" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
         </a>
        </div>
    </div>
</div>

