<h1>Lista de empleados</h1>
<div class="clr-row">
    <div class="clr-col-6">

      <clr-input-container>

        <label>Filtros :</label>


        <input placeholder="nombre empleado" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchChange($event.target.value)"
        />
        <!-- </clr-input-container>
       
          <clr-input-container> -->


        <input placeholder="sucursal" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchCodChange($event.target.value)"
        />


      </clr-input-container>
    </div>

      <div class="clr-col-6">


      </div>
</div>
<clr-datagrid>
  <clr-dg-column>Nombre</clr-dg-column>
  <clr-dg-column>Apellido</clr-dg-column>
  <clr-dg-column>Telefono</clr-dg-column>
  <clr-dg-column>E-mail</clr-dg-column>
  <clr-dg-column>Sucursal</clr-dg-column>

  <clr-dg-row *ngFor="let empleado of empleado">
      <clr-dg-action-overflow>
          <button class="action-item" (click)="onVerPerfil( empleado.id )">Ver perfil</button>
          <button class="action-item" (click)="onEdit( empleado.id )">Editar empleado</button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{empleado.nombre}}</clr-dg-cell>
      <clr-dg-cell>{{empleado.apellido}}</clr-dg-cell>
      <clr-dg-cell>{{empleado.telefono}}</clr-dg-cell>
      <clr-dg-cell>{{empleado.email}}</clr-dg-cell>
      <clr-dg-cell>{{empleado.sucursal}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
      </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<a (click)="registrar()" src="javascript//">ir a registrar</a>