<div class="container">
  <div class="row">
    <div class="col-sm" *ngFor="let opcion of opciones">
      <a class="card clickable" (click)="seleccionarOpcion(opcion.id)">
        <div class="card-block">
          <p class="card-text">
            {{opcion.nombre}}
          </p>
        </div>
        <div class="card-img">
          <img src={{opcion.imagen}}>
        </div>
      </a>
    </div>
  </div>
</div>