<h5>Sucursales / Cargar-Ver Mesas</h5>

<h1>Clickee sobre la posición del plano donde va ir ubicada la mesa</h1>
<br>

<div class="clr-row clr-justify-content-first ">



    <label><strong>Capacidad <br> de personas</strong></label>
    <input style="width: 20%" placeholder="0" type="number" min="0" max="10" clrInput name="cantidadPersonas" [(ngModel)]="cantidadPersonas"
        required />


    <label><strong>Número <br> de Mesa</strong></label>
    <input style="width: 20%" placeholder="0" type="number" min="1" clrInput name="numeroMesa" [(ngModel)]="numeroMesa" required
    />
    <button *ngIf="items.length > 0" class="btn btn-danger-outline" (click)="deshacer()">Reestablecer <clr-icon size="22"
            shape="history"></clr-icon>
    </button>
    <button *ngIf="items.length > 0" class="btn btn-primary-outline" (click)="guardar()">Guardar <clr-icon size="22" shape="check"></clr-icon>
    </button>

    <button *ngIf="items.length > 0" class="btn btn-primary-outline" (click)="volver()">Volver <clr-icon size="22" shape="undo"></clr-icon>
    </button>




    <div class="card">
        <img class="card-img" (click)="addOnClick($event)" src="../../../../../assets/layaout.jpeg" alt="Card image">
        <div class="card-img-overlay" *ngFor="let item of items">
            <img class="img-fluid" (click)="addOnClickMesa(item)" [src]="urlMesa"
                style="cursor: pointer ;position: absolute;" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
            <strong style="cursor: pointer ;position: absolute;" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}"> {{item.id}}</strong>
        </div>
    </div>
</div>