<div class="vista-wrapper" style="background-image:url(../assets/images/principal/restooo.jpg);">
    <form class="vista">

            <img id='logo' src='../assets/images/principal/IconoAmarillo.png'> 
            <section class="title">
            </section>
        </form>
    </div>
