mat-icon.md-48 {
    height: 48px;
    width: 48px;
    font-size: 48px;
}

mat-icon.md-36 {
    height: 36px;
    width: 36px;
    font-size: 36px;
}

mat-icon.md-24 {
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.header-6 {
    background-color: goldenrod;

}

.navbar {
    display: flex;
    padding: 5px;
    padding-left: 10px;
    color: #fff;
    background-color: goldenrod;
    font-size: 0;
}

.fill {
    display: flex;
    flex: 1 1 auto;
}

.navbar-breadcrumb {
    color: black;   
    background-color: goldenrod;
    max-width: 30%;
    
  
    
}

ol{
    list-style: none;
}


.menu-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-top: 7px;
    margin-right: 5px;
}
@media print{
    .doNotPrint{display:none !important;}
  }
