<!-- <nav class="navbar">
        <button class="navbar-element" mat-flat-button (click)="menuButtonClick()"><mat-icon class="md-24">menu</mat-icon></button>
        <span class="navbar-element"><img src="../../../../../assets/linguini.png" height="40" width="40"></span>
        <span class="navbar-element">LinguiniApp</span>
        <span class="fill"></span>
        <button class="navbar-element" mat-flat-button>Perfil<mat-icon class="md-24">person</mat-icon></button>
</nav> -->

<!-- <header class="header-6">
    <div class="branding">
        ...
    </div>
    <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
        <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header> -->
<div class="doNotPrint">

<clr-header class="header-6">

    <!-- <div class="header-nav" [clr-nav-level]="1" (click)="menuButtonClick()">
             
                </div>
    -->


    <div class="branding">
        <a href="/" class="nav-link">
            <span class="navbar-element"><img src="../../../../../assets/linguini.png" height="40" width="40"></span>

            <span class="title">LingüiniApp</span>
           

        </a>
      
    </div>

    <div class="header-actions">
        <clr-dropdown>
            <div class="header-nav">
                <a (click)="open()" href="javascript://" class="nav-link nav-text">{{nombreUsuario}}</a>
            </div>
        </clr-dropdown>
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>Acerca de </a>
                <a (click)="redirAyuda()" clrDropdownItem>Ayuda</a>
                <a (click)="cerrarSesion()" clrDropdownItem>Cerrar Sesión</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>


</clr-header>
<breadcrumb class="navbar-breadcrumb"  [allowBootstrap]="false"></breadcrumb> 

<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
        <clr-wizard-title>Large-Sized Wizard</clr-wizard-title>
      
        <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
        <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>
      
        <clr-wizard-page>
            <ng-template clrPageTitle>Page 1</ng-template>      
        </clr-wizard-page>
      
        <clr-wizard-page>
            <ng-template clrPageTitle>Page 2</ng-template>      
        </clr-wizard-page>
      
        <clr-wizard-page>
            <ng-template clrPageTitle>Page 3</ng-template>
        </clr-wizard-page>
</clr-wizard>
</div>
      

<!-- <clr-main-container>
                <clr-header>

                    <div class="header-nav" [clr-nav-level]="1" (click)="menuButtonClick()">
                 
                    </div>
       
                </clr-header>
                <div class="content-container">
                    <main class="content-area">
                        ...
                    </main>
                    <nav class="sidenav" [clr-nav-level]="2">
                        ...
                    </nav>
                </div>
</clr-main-container> -->