<div class="card">
  <div class="card-img">
    <img src={{producto.imagen}}>
  </div>
  <div class="card-block">
    <h4 class="card-title">{{producto.nombre}}</h4>
    <p class="card-text">
      {{producto.descripcion}}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Precio: <strong>$ {{producto.precio}}</strong></li>

    <li class="list-group-item">
      Cantidad:
      <clr-icon shape="minus-circle" size="26" (click)="substracProductCant()"></clr-icon>
      <strong>
        {{cant}}
      </strong>
      <clr-icon shape="plus-circle" size="26" (click)="addProductCant()"></clr-icon>
    </li>
  </ul>
  <div class="card-footer">
    <button [clrLoading]="validateBtnState" class="btn btn-link" (click)="addCart(producto)" [disabled]=" 0 >= cant">Agregar
      al Pedido</button>
  </div>
</div>