<h5>Productos / Ver lista de productos</h5>


<clr-input-container>

    <label>Filtros :</label>


    <input placeholder="nombre producto" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchChange($event.target.value)"
    />
    <!-- </clr-input-container>
   
      <clr-input-container> -->


    <input placeholder="nombre categoria" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchCodChange($event.target.value)"
    />


  </clr-input-container>
<div class="ver">
<clr-datagrid [(clrDgSingleSelected)]="selectedProd" class="datagrid">
  
  <clr-dg-action-bar>
      <div class="btn-group">
        <button type="button" class="btn btn-success" (click)=agregarProducto()><clr-icon shape="plus"></clr-icon>Agregar</button>
        <button type="button" class="btn btn-danger" *ngIf="selectedProd" (click)=quitarProducto(selectedProd.codigo)><clr-icon shape="trash"></clr-icon>Eliminar</button>
        <button type="button" class="btn btn-primary" *ngIf="selectedProd" (click)=editarProducto(selectedProd.codigo)><clr-icon shape="pencil"></clr-icon>Editar</button>
               
      </div>
  </clr-dg-action-bar>
  
  
  
  <clr-dg-column>Nombre</clr-dg-column>
  <clr-dg-column>Categoria</clr-dg-column>

  <clr-dg-row *ngFor="let prod of dataSource"  [clrDgItem]="prod" >    
    <clr-dg-cell>{{prod.nombre}}</clr-dg-cell>
    <clr-dg-cell>{{prod.categoria}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
</div>