<link rel="stylesheet" href="../../../../../assets/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../../assets/css/AdminLTE.min.css">
<div class="container-fluid no-margin">
    <div class="row">
        <h1>Reporte de caja</h1>
        <hr>
    </div>
    <div class="row" style="margin-top: 40px" *ngIf="!busqueda">
        <form clrForm [formGroup]="reporteGroup" clrLayout="horizontal" novalidate>
            <em>Seleccioná un rango de fechas para que generemos el reporte.</em>
            <clr-date-container style="width: 100%">
                <label for="fechaDesde">Fecha desde</label>
                <input id="fechaDesde" type="date" clrDate autocomplete="off" formControlName="fechaDesde">
            </clr-date-container>
            <clr-date-container style="width: 100%">
                <label for="fechaHasta">Fecha Hasta</label>
                <input id="fechaHasta" type="date" clrDate autocomplete="off" formControlName="fechaHasta">
            </clr-date-container>
            <div style="width: 100%">
                <span *ngIf="reporteGroup.touched && reporteGroup.dirty && reporteGroup.getError('rangoFechas')"  style="color: red; margin-left: 15px ">Ingrese un rango de fechas válido</span>
            </div>
            <div style="width: 100%" style="margin-left: 10px">
                <button class="btn btn-primary" [disabled]="reporteGroup.status !== 'VALID'" (click)="enviarQuery()">Buscar</button>
            </div>
        </form>
    </div>
    <div class="row" *ngIf="busqueda">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-maroon"><i class="fa fa-dollar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total estimado ($)</span>
                        <span class="info-box-number">$ {{totalMontoEstimado}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-dollar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total real ($)</span>
                        <span class="info-box-number">$ {{totalMontoReal}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-light-blue"><i class="fa fa-minus"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Diferencia</span>
                        <span class="info-box-number" [ngStyle]="{'color': (diferencia < 0) ? 'red' : 'green'} ">$ {{diferencia}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        <div class="row" style="width: 100%" *ngIf="busqueda">
            <!-- Aca el  datagrid -->
            <clr-datagrid style="width: 100%">
                <clr-dg-column>Nro. Caja</clr-dg-column>
                <clr-dg-column>Apertura</clr-dg-column>
                <clr-dg-column>Cierre</clr-dg-column>
                <clr-dg-column>Monto inicial</clr-dg-column>
                <clr-dg-column>Monto final estimado</clr-dg-column>
                <clr-dg-column>Monto final real</clr-dg-column>
                <clr-dg-column>Diferencia</clr-dg-column>
                <clr-dg-row *ngFor="let fila of cajaReporte">
                    <clr-dg-cell>{{ fila.numero}}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.fechaHoraApertura | date: 'dd/MM/yyyy HH:mm'}}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.fechaHoraCierre | date: 'dd/MM/yyyy HH:mm OOO' }}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.montoInicial}}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.montoFinalReal}}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.montoFinalEstimado}}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.montoFinalReal - fila.montoFinalEstimado}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>{{cajaReporte.length}} Movimientos de caja</clr-dg-footer>
            </clr-datagrid>
            <button class="btn btn-primary" (click)="habilitarBusqueda()">Realizar otra consulta</button>
            <button class="btn btn-primary-outline" (click)="volverPanel()">Volver</button>
        </div>
    </div>
</div>