
<div class="doNotPrint">

                <section class="sidenav-content">
                    <section class="nav-group collapsible"  *ngFor="let menu of menuList">
                        <div *ngIf="!menu.tieneAcciones">
                                <label for="{{menu.titulo}}">{{menu.titulo}}</label>
      
                        </div>
                        <div *ngIf="menu.tieneAcciones">
                        <input id="{{menu.titulo}}" type="checkbox" checked>
                        <label for="{{menu.titulo}}">{{menu.titulo}}</label>
                        <ul class="nav-list" *ngFor="let accion of menu.acciones">
                            <li><a [routerLink]="[accion.url]" class="nav-link">{{accion.nombre}}</a></li>
                        </ul>
                    </div>
                    </section>
                    <!-- <section class="nav-group">
                        <input id="tabexample2" type="checkbox">
                        <label for="tabexample2">Default Nav Element</label>
                        <ul class="nav-list">
                            <li><a class="nav-link">Link 1</a></li>
                            <li><a class="nav-link">Link 2</a></li>
                            <li><a class="nav-link active">Link 3</a></li>
                            <li><a class="nav-link">Link 4</a></li>
                            <li><a class="nav-link">Link 5</a></li>
                            <li><a class="nav-link">Link 6</a></li>
                        </ul>
                    </section> -->
                </section>
     </div>