<h5>Sucursales / Ver sucursales en el mapa</h5>



<h1>Encontrá la sucursal mas cercana a tu lugar...
  <h3>Has click en el pin para obtener info de la sucursal </h3>
</h1>

<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" >
  <agm-marker [latitude]="latitude" [longitude]="longitude" [label]="title"></agm-marker>
  <agm-marker *ngFor="let location of dataSource" [latitude]="location.latitud" [longitude]="location.longitud" [label]="location.nombre">
    <agm-info-window>
      <div class="clr-row" style="    width: 98%;">
        <div class="clr-col-6" style="    font-size: 18px;">
          <br>

        Sucursal: <strong>{{location.nombre}}</strong>
          <br>
          <br> Dirección: <strong>{{location.direccion}}</strong>
          <br>
          <br> Telefono: <strong>{{location.telefono}}</strong>

        </div>
        <div class="clr-col-6" style="    font-size: 18px;">


          <img class="clr-col-6 img-fluid" style="max-width:50%" [src]='getImage(location.foto)'>
          <br>
          <button class="btn btn-link" (click)="reservar(location.numero)">   Reservar</button>
          <br>
          <button class="btn btn-link" (click)="onVerCarta(location.numero)">   Ver Carta</button>
        </div>
      </div>

    </agm-info-window>
  </agm-marker>

</agm-map>