<div id="contenedorPanel" class="col-md-12">
  <div class="row">
      <div class=col-md-12>
          <h1>Reporte de ventas</h1>
      </div>
  </div>

  <div class="row ">
    <div class="col-md-6 ">
        <div class="box box-primary ">
            <div class="box-header with-border ">
                <h3 class="box-title ">Ventas por sucursal</h3>
                <div class="box-tools pull-right ">
                    
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
                <!-- <canvas id="barChart ">{{graficoBarra}}</canvas> -->
                <canvas id="pieChart"></canvas>
            </div>
            <!-- /.box-body -->
            <!-- <div class="box-footer">
                <p>Cantidad de ventas: <b> {{cantReservasSemanal}}</b></p>
                <hr>
            </div> -->
            <!-- box-footer -->
        </div>
        <!-- /.box -->
    </div>
   

    <div class="col-md-6 ">
        <div class="box box-info ">
            <div class="box-header with-border ">
                <h3 class="box-title ">Productos mas vendidos</h3>
                <p>Seleccione la categoria.</p>
                <clr-select-container>
                  <label>Categoría</label>
                  <select clrSelect id="cat" (change)="categoriaChange()" placeholder="Categoría" name="cat" ngModel #nombre="ngModel"
                    [(ngModel)]="codCategoria" required>
                    <option *ngFor="let cat of listaCategoria, let i=index" [value]="cat.nombre">{{cat.nombre}}</option>
                  </select>
                </clr-select-container>
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
                <!-- <canvas id="lineChart ">{{ graficoLineaReviews }}</canvas> -->
                <canvas id="barChart"></canvas>
            </div>
            
        </div>
        <!-- /.box -->
    </div>
</div>

<button class="btn btn-primary" (click)="volver()">Volver</button>
<button class="btn btn-warning" (click)="menu()">Menú</button>
</div>