.column{
    float: left;
    width: 40%;
    margin-left: 36%;
    margin-top: 30px;  
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.example-button{
    width: 69%;
}
.example{
    width: 69%;
    color: white;
    background: rgb(17, 112, 68);
}