table {
    width: 100%;
    
}
.example{
    width: 69%;
    color: white;
    background: rgb(17, 112, 68);
    }
.editarButton{

    color: white;
    background: rgb(23, 100, 124);

}
.card{
    border: transparent;
    background-color: transparent;
    box-shadow: none;
}