<h1>Ver reservas</h1>
<br>


<clr-datagrid *ngIf="!seleccionarMesa" [(clrDgSingleSelected)]="selectedUser" class="datagrid">

    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="opend()">
                <clr-icon shape="plus"></clr-icon> Agregar a la lista
            </button>
            <button type="button" class="btn btn-sm btn-secondary" *ngIf="selectedUser" (click)="eliminarReserva(selectedUser.numero)">
                <clr-icon shape="close"></clr-icon> Eliminar
            </button>
            <button type="button" class="btn btn-sm btn-secondary" *ngIf="selectedUser" (click)="editarReserva(selectedUser.numero)">
                <clr-icon shape="pencil"></clr-icon> Editar
            </button>
            <button type="button" class="btn btn-sm btn-secondary" *ngIf="selectedUser" (click)="verQr(selectedUser.nombre,selectedUser.cantidad,selectedUser.fecha,selectedUser.hora,selectedUser.mesas[0])">
                <clr-icon shape="plus"></clr-icon> Ver codigo QR de mi reserva
            </button>
        </div>
    </clr-dg-action-bar>
    <br>
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" *ngIf="selectedUser&&!tienePedido" (click)="realizarPedido(selectedUser.numero)">
                <clr-icon shape="plus"></clr-icon> Realizar un Pedido
            </button>            
        </div>
    </clr-dg-action-bar>
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" *ngIf="selectedUser&&tienePedido" (click)="verPedido(selectedUser.numero)">
                <clr-icon shape="plus"></clr-icon> Ver pedido
            </button>
        </div>
    </clr-dg-action-bar>

    <clr-dg-column>No.</clr-dg-column>
    <clr-dg-column>Nombre del Cliente</clr-dg-column>
    <clr-dg-column>Cantidad de Personas</clr-dg-column>
    <clr-dg-column>Dia</clr-dg-column>
    <clr-dg-column>Hora</clr-dg-column>
    <clr-dg-column>Mesa Reservada</clr-dg-column>

    <clr-dg-row (click)="tienePedidos(user.numero)" [clrDgItem]="user" *ngFor="let user of dataSource; let i=index">
        <clr-dg-cell>{{user.numero}}</clr-dg-cell>
        <clr-dg-cell>{{user.nombre}}</clr-dg-cell>
        <clr-dg-cell>{{user.cantidad}}</clr-dg-cell>
        <clr-dg-cell>{{user.fecha}}</clr-dg-cell>
        <clr-dg-cell>{{user.hora}}</clr-dg-cell>
        <clr-dg-cell><span style="font-size:14px" class="badge badge-success" *ngFor="let mesa of user.mesas">{{mesa}}</span></clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer> Reservas</clr-dg-footer>
</clr-datagrid>


<clr-wizard #wizard [(clrWizardOpen)]="open">
    <clr-wizard-title>Reservas</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cerrar</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Anterior</clr-wizard-button>
    <clr-wizard-button *ngIf="!fechaValid" [type]="'next'">Siguiente</clr-wizard-button>
    <clr-wizard-button (click)="activarMesas()" [type]="'finish'">Seleccione su Mesa!</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="nombre.pristine && apellido.pristine && dni.pristine || !formPageOne.valid">
        <ng-template clrPageTitle>Ingrese sus datos</ng-template> <!-- mandatory -->
        <ng-template clrPageNavTitle>
            Datos personales
        </ng-template> <!-- optional -->
        <form #formPageOne="ngForm">
            <section class="form-block">
                <label>Datos de la persona</label>
                <div class="form-group">
                    <label>Nombre</label>
                    <label for="nameInput" aria-haspopup="true" role="tooltip" [class.invalid]="nombre.touched && !nombre.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="nameInput" required [(ngModel)]="model.nombre" name="nombre" #nombre="ngModel">
                        <span class="tooltip-content">Este campo no puede quedar vacio!</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <label for="nameInput" aria-haspopup="true" role="tooltip" [class.invalid]="apellido.touched && !apellido.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="nameInput" required [(ngModel)]="model.apellido" name="apellido"
                            #apellido="ngModel">
                        <span class="tooltip-content">Este campo no puede quedar vacio!</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>DNI</label>
                    <label for="dni" aria-haspopup="true" role="tooltip" [class.invalid]="dni.touched && !dni.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="dni" required [(ngModel)]="model.dni" name="dni" #dni="ngModel">
                        <span class="tooltip-content">Este campo no puede quedar vacio!</span>
                    </label>
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="(cantidad.pristine ) || !formPageTwo.valid">
        <ng-template clrPageTitle>Necesitamos un numero</ng-template> <!-- mandatory -->
        <ng-template clrPageNavTitle>
            Datos de la reserva
        </ng-template> <!-- optional -->
        <form #formPageTwo="ngForm">
            <section class="form-block">
                <label>Cantidad de personas</label>
                <div class="form-group">
                    <label>Cantidad</label>
                    <label for="cantidad" aria-haspopup="true" role="tooltip" [class.invalid]="cantidad.touched && !cantidad.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <select clrSelect id="cantidad" required (change)="resetHora()" [(ngModel)]="model.cantidad"
                            name="cantidad" #cantidad="ngModel" #cantidad="ngModel" required>
                            <option *ngFor="let cantidad of cantidades" [value]="cantidad.value">{{cantidad.value}}</option>
                        </select>
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <br>
                <label>Fecha de la reserva</label>
                <div class="form-group">
                    <label>Fecha</label>
                    <label for="fecha" aria-haspopup="true" role="tooltip" [class.invalid]="fecha.touched && !fecha.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="date" [(clrDate)]="date" id="fecha" (ngModelChange)="verificarFecha(fecha)"
                            required [(ngModel)]="model.fecha" name="fecha" #fecha="ngModel">

                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <label>Hora de la reserva</label>
                <div class="form-group">
                    <label>Hora</label>
                    <label for="hora" aria-haspopup="true" role="tooltip" [class.invalid]="hora.touched && !hora.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="hora" [ngxTimepicker]="picker" id="hora" (ngModelChange)="verificar(hora)"
                            required [(ngModel)]="model.hora" name="hora" #hora="ngModel">
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                        <br />
                        <br />
                        <br />
                        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="completeInput">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <div class="alert-text">
                                        Lo sentimos, no podemos tomar la reserva a esa hora los horarios disponibles
                                        son desde: {{horaDesde}} hasta {{horaHasta}}
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="capacidadInput">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <div class="alert-text">
                                        Lo sentimos, no poseemos capacidad para tantas personas en ese horario, prueba
                                        en otro! cantidad disponible {{cantidadDisponible}}
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="fechaValid">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <div class="alert-text">
                                        La fecha reserva debe realizarse con al menos un dia de anticipación
                                    </div>

                                </div>
                            </div>

                        </div>
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>


            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid || !formPageTwo.valid">
        <ng-template clrPageTitle>Su reserva</ng-template> <!-- mandatory -->
        <ng-template clrPageNavTitle>
            <span *ngIf="formPageOne.valid && formPageTwo.valid">
                Casi terminamos
            </span>
            <span *ngIf="!formPageOne.valid || !formPageTwo.valid">
                Casi terminamos
            </span>
        </ng-template> <!-- optional -->

        <div *ngIf="formPageOne.valid && formPageTwo.valid">
            <form class="compact">
                <label>Informacion de la reserva</label>
                <section class="form-block">
                    <div class="form-group">
                        <label>Tu nombre</label>
                        <span>{{ this.model.nombre }} {{this.model.apellido}}</span>
                    </div>
                    <div class="form-group">
                        <label>Cantidad de personas</label>
                        <span>{{ this.model.cantidad }}</span>
                    </div>
                    <div class="form-group">
                        <label>Fecha de la reserva</label>
                        <span>{{ this.model.fecha }}</span>
                    </div>
                    <div class="form-group">
                        <label>Hora de la reserva</label>
                        <span>{{ this.model.hora }} </span>
                    </div>
                </section>
            </form>
        </div>

        <div *ngIf="!formPageOne.valid || !formPageTwo.valid">
            <p>Not quite there yet.</p>
        </div>

    </clr-wizard-page>
</clr-wizard>
<div *ngIf="seleccionarMesa">
    <h1>Clickee las mesas a reservar</h1>
    <p><strong class="label label-success">VERDE</strong>  Son las mesas que vas a reservar</p>

    <p><strong class="label label-danger">ROJO</strong>  Son las mesas que NO estan disponibles reservar</p>

    <p><strong class="label">GRIS</strong> Son las mesas que estan disponibles para reservar</p>


    <button *ngIf="capacidad>=model.cantidad && (model.cantidad-capacidad>-4)" (click)="onSubmit()" style="text-align: right;"
        class="btn btn-primary">Listo</button>
    <span>Cantidad de personas: {{model.cantidad}}</span>
    <div class="clr-row clr-justify-content-first ">

        <div class="card">
            <img class="card-img" src="../../../../../assets/layaout.jpeg">
            <div class="card-img-overlay">
                <a [ngStyle]="{'cursor': item.stat == 0?  'pointer' :  item.stat == 2 ? 'pointer':  'not-allowed' } "
                    *ngFor="let item of items" (click)="reservar(item)">
                    <img class="img-fluid" [src]="item.stat == 0 ? urlMesa : item.stat == 2 ? urlMesaRed : urlMesaGreen"
                        style="position: absolute;" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
                    <strong style="cursor: pointer ;position: absolute;" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
                        {{item.cantidad}}</strong>
                </a>
            </div>
        </div>
    </div>
</div>
<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">Este es el codigo de su reserva</h3>
    <div class="modal-body">
        <p>Presente este codigo en la sucursal del restaurant</p>
        <p style="text-align:center"><ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="value"></ngx-qrcode></p>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal>