<!-- Font Awesome -->
<link rel="stylesheet" href="../../../../../assets/bower_components/font-awesome/css/font-awesome.min.css">
<clr-datagrid>
    <clr-dg-column>Nombre</clr-dg-column>
    <clr-dg-column>Apellido</clr-dg-column>
    <clr-dg-column>Telefono</clr-dg-column>
    <clr-dg-column>E-mail</clr-dg-column>

    <clr-dg-row *ngFor="let cliente of cliente$ | async">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onVerPerfil( cliente.id )">Ver perfil</button>
            <button class="action-item" (click)="onEdit( cliente.id )">Editar cliente</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{cliente.nombre}}</clr-dg-cell>
        <clr-dg-cell>{{cliente.apellido}}</clr-dg-cell>
        <clr-dg-cell>{{cliente.telefono}}</clr-dg-cell>
        <clr-dg-cell>{{cliente.email}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            Mostrando {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} usuarios
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<button (click)="registrar()" class="btn btn-primary-outline"><i class="fa fa-user-plus"></i>Nuevo</button>