<div class="card">
  <div class="card-header">
    {{promocion.nombre}}
  </div>
  <div class="card-block">
    <div class="card-media-block" *ngFor="let producto of promocion.detallesProductos">
      <img src={{producto.foto}} class="card-media-image">
      <div class="card-media-description">
        <span class="card-media-title">
          Producto: {{producto.nombre}}
        </span>
        <span class="card-media-text">
          Cantidad: {{producto.cantidad}}
        </span>
      </div>
    </div>
  </div>
  <div class="card-block">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio: $<strong>{{promocion.precio}}</strong></li>
      <li class="list-group-item">
        Cantidad:
        <clr-icon shape="minus-circle" size="26" (click)="substracProductCant()"></clr-icon>
        <strong>
          {{cant}}
        </strong>
        <clr-icon shape="plus-circle" size="26" (click)="addProductCant()"></clr-icon>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <button [clrLoading]="validateBtnState" class="btn btn-link" (click)="addCart(promocion)" [disabled]=" 0 >= cant">Agregar
      al Pedido</button>
  </div>
</div>