<div class="main-container">
  <div class="content-container">
      <div class="content-area">
        <div class="row h-100 clr-align-items-center clr-justify-content-center">
          <div class="clr-col-8" id="cajitablanca">
            <h2>Recuperar contraseña</h2>
            <h4 *ngIf="!emailEnviado == true">¿Olvidaste la contraseña? <wbr> Ingresa tu e-mail y la reestableceremos juntos.<wbr></h4>
            <form *ngIf="!emailEnviado" clrForm [formGroup]="recuperarGroup" clrLayout="horizontal" novalidate>
                <clr-input-container class="col-md-12" *ngIf="!emailEnviado == true">
                <label>E-mail</label>
                <input clrInput type="email" name="email" size="40" placeholder="Ingresa tu dirección e-mail aquí"
                    formControlName="email">
                <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                <clr-control-error *clrIfError="'email'">¡Ingresa una dirección e-mail válida!</clr-control-error>
                </clr-input-container>
            
            <div class="col-md-12" style="margin-top: 25px;" *ngIf="!emailEnviado == true">
                <button class="btn btn-primary btn-block" type="submit" *ngIf="recuperarGroup.status =='VALID'" (click)=onSubmit() >Recuperar mi contraseña</button> 
                <a href="/login " class="btn btn-link btn-block">Volver</a>
            </div>
           </form>
            <div class="alert alert-app-level alert-danger " style=" margin-bottom:24px " *ngIf="!recuperarGroup.get('email').pristine == true && recuperarGroup.status == 'INVALID' && (recuperarGroup.touched || recuperarGroup.dirty) ">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <div class="alert-text">
                      Debe completar correctamente todos los campos.
                    </div>
                  </div>
                </div>
            </div>          
            <div class="alert alert-app-level alert-success " style="margin-bottom:24px" *ngIf="emailEnviado == true">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <clr-icon shape="success-standard" class="is-solid"></clr-icon>
                    </div>
                    <div class="alert-text">
                      Te hemos enviado un e-mail con un enlace para que puedas reestablecer tu contraseña. Revísalo en tu bandeja de entrada.
                    </div>
                  </div>
                </div>
            </div>
            <div class="alert alert-app-level alert-warning" style="margin-bottom:24px" *ngIf="errorEmail == true">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <clr-icon shape="error-standard" class="is-solid"></clr-icon>
                    </div>
                    <div class="alert-text">
                      El correo que ingresaste no se encuentra registrado en nuestro sistema.
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </div>
  </div>
</div>