<div class="modal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">

        <h3 class="modal-title">Error</h3>
      </div>
      <div class="modal-body">
  
          <div class="row">
            <div class="column">
              <h4>
                <p>&nbsp; El usuario no tiene permisos para realizar esta acción
              </h4>
  
            </div>
          </div>

          
        </div>
        <button class="btn btn-success" (click)="volverMenu()">Menú</button>
        <button class="btn btn-danger" (click)="volver()">Salir</button>
          <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
  
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                  Debe completar correctamente todos los campos
                </div>
              </div>
  
            </div>
          </div>
        
      </div>
    </div>
 
  <div class="modal-backdrop" aria-hidden="true"></div>