<form clrForm #f="ngForm" clrLayout="horizontal" novalidate (ngSubmit)="onSubmit(f)">
    <h5>Sucursales / Asignar carta</h5>

  <h3>Sucursal número {{numeroSucursal}}</h3>

  <p>Seleccione la categoria, luego seleccione los productos con sus respectivos precios</p>
  <clr-select-container>
    <label>Categoría</label>
    <select clrSelect id="cat" (change)="categoriaChange()" placeholder="Categoría" name="cat" ngModel #nombre="ngModel"
      [(ngModel)]="codCategoria" required>
      <option *ngFor="let cat of listaCategoria, let i=index" [value]="cat.codigo">{{cat.nombre}}</option>
    </select>
  </clr-select-container>
  <!-- 
  <div class="clr-row">
    <div class="clr-col-4">

      [ngModel]="imagenPerfil.image" (ngModelChange)="actualizarImagen($event)"
      <label>Buscar Carta</label>
      <input type="file" multiple (change)="fileChange(input)" #input />
      <input type="text" clrInput [(ngModel)]="busqueda" #imagen ngModel [ngModelOptions]="{standalone: true}">
    </div>

    <div class="clr-col-6">

      <a type="submit" (click)="buscar(imagen)" class="btn btn-success">Buscar</a>
    </div>
  </div> -->
  <div class="clr-row">
    <div class="clr-col-6">

  <h3>Productos</h3>
  <clr-datagrid [(clrDgSelected)]="selectedProd">

    <clr-dg-column>


      Nombre
    </clr-dg-column>
    <!-- [clrDgSelected]="selected(prod.codigo)" -->

    <clr-dg-row *ngFor="let prod of dataSource" [clrDgItem]="prod"  >
      <clr-dg-cell>{{prod.nombre}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{dataSource.length}}</clr-dg-footer>
  </clr-datagrid>

  </div>
  <div class="clr-col-6">
  <h3>Productos de la carta</h3>

  <clr-datagrid>

    <clr-dg-column>

      Nombre Producto
    </clr-dg-column>
    <clr-dg-column>Precio</clr-dg-column>

    <clr-dg-row *ngFor="let prod of selectedProd">
      <clr-dg-cell>

        {{prod.nombre}}

      </clr-dg-cell>
      <clr-dg-cell>
        $<input type="number" min="1" placeholder="precio del producto" required name="prod.precio" [(ngModel)]="prod.precio"
          ngModel #prod.precio="ngModel">
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{selectedProd.length}}</clr-dg-footer>
  </clr-datagrid>
  </div>

  </div>

  <br>
  <br>

</form>

<a type="submit" (click)="onSubmit(f)" class="btn btn-success">Agregar</a>
<button class="btn btn-danger" (click)="volver()">Ver lista </button>
<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Debe completar correctamente todos los campos
      </div>
    </div>

  </div>
</div>

<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="completePrecio">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Complete correctamente el precio de cada producto
      </div>
    </div>

  </div>
</div>

<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Error, intente nuevamente o consulte al administrador
      </div>
    </div>

  </div>
</div>


<div class="alert alert-app-level alert-info" *ngIf="correcto">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Carta creada correctamente
      </div>

    </div>
  </div>
  <button type="button" class="close" (clic)="cerrarCorrecto()" aria-label="Close">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>