<h5>Lista de espera / Ver lista de espera</h5>

<clr-datagrid [(clrDgSingleSelected)]="selectedUser" class="datagrid">
     
  <clr-dg-action-bar>
      <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary" (click)="agregarElementoLista()"><clr-icon shape="plus"></clr-icon> Agregar a la lista</button>
          <button type="button" class="btn btn-sm btn-secondary" *ngIf="selectedUser" (click)="quitarElementoLista(selectedUser.numero)" ><clr-icon shape="close"></clr-icon> Eliminar</button>
      </div>
  </clr-dg-action-bar>

<clr-dg-column>No.</clr-dg-column>
<clr-dg-column>Nombre del Cliente</clr-dg-column>
<clr-dg-column>Cantidad de Personas</clr-dg-column>
<clr-dg-column>Hora de Llegada</clr-dg-column>

<clr-dg-row [clrDgItem]="user" *ngFor="let user of dataSource,let i=index">
  <clr-dg-cell>{{user.numero}}</clr-dg-cell>
  <clr-dg-cell>{{user.nombre}}</clr-dg-cell>
  <clr-dg-cell>{{user.cantidad}}</clr-dg-cell>
  <clr-dg-cell>{{user.hora}}</clr-dg-cell>
</clr-dg-row>
<clr-dg-footer>{{dataSource.length}} Clientes</clr-dg-footer>
</clr-datagrid>

