<div *ngIf="!seleccionarMesa">
  <form clrForm #f="ngForm" clrLayout="horizontal" novalidate (ngSubmit)="onSubmit(f)">
    <h1>Nuevo Pedido</h1>

    <p>Seleccione la categoria, luego seleccione los productos con sus respectiva cantidad</p>
    <p>Mesa seleccionada: {{numeroMesa}}</p>
    <clr-select-container>
      <label>Categoría</label>
      <select clrSelect id="cat" (change)="categoriaChange()" placeholder="Categoría" name="cat" ngModel #nombre="ngModel" [(ngModel)]="codCategoria"
        required>
        <option *ngFor="let cat of listaCategoria, let i=index" [value]="cat.codigo">{{cat.nombre}}</option>
      </select>
    </clr-select-container>
    <div class="clr-row">
      <div class="clr-col-6">


        <clr-input-container>
          <label>Filtros :</label>

          <input placeholder="nombre acción" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchChange($event.target.value)"
          />
          <!-- </clr-input-container>
           
              <clr-input-container> -->


          <input placeholder="codigo acción" type="number" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchCodChange($event.target.value)"
          />


        </clr-input-container>
      </div>
      <div class="clr-col-6">

      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-6">
        <h3>Productos de la carta</h3>
        <clr-datagrid [(clrDgSelected)]="selectedProd">
          <clr-dg-column>Nombre</clr-dg-column>
          <clr-dg-column>Código</clr-dg-column>
          <clr-dg-row *ngFor="let prod of dataSource" [clrDgItem]="prod">
            <clr-dg-cell>{{prod.nombre}}</clr-dg-cell>
            <clr-dg-cell>{{prod.id}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>{{selectedProd.length}}</clr-dg-footer>
        </clr-datagrid>

      </div>
      <div class="clr-col-6">
        <h3>Pedido</h3>
        <clr-datagrid>
          <clr-dg-column>
            Nombre Producto
          </clr-dg-column>
          <clr-dg-column>Cantidad</clr-dg-column>
          <clr-dg-row *ngFor="let prod of selectedProd">
            <clr-dg-cell>
              {{prod.nombre}}
            </clr-dg-cell>
            <clr-dg-cell>
              <input type="number" clrInput id="cantidad" placeholder="Cantidad" name="cantidad" ngModel #cantidad="ngModel" size="40"
                required/>
            </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>{{selectedProd.length}}</clr-dg-footer>
        </clr-datagrid>
      </div>

    </div>

    <br>
    <br>
    <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Realizar Pedido</a>
  </form>

  <button class="btn btn-danger" (click)="volver()">Volver</button>
  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Debe completar correctamente todos los campos
        </div>
      </div>

    </div>
  </div>

  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="completeCantidad">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Complete correctamente la cantidad de cada producto
        </div>
      </div>

    </div>
  </div>

  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Error, intente nuevamente o consulte al administrador
        </div>
      </div>
    </div>
  </div>


  <div class="alert alert-app-level alert-info" *ngIf="correcto">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Pedido creado correctamente
        </div>

      </div>
    </div>
    <button type="button" class="close" (click)="cerrarCorrecto()" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
</div>
<div *ngIf="seleccionarMesa">
  <h1>Mesas</h1>


  <p><strong class="label label-success">VERDE</strong> Mesa Libre</p>

  <p><strong class="label label-danger">ROJO</strong> Mesa con Pedido</p>

  <p><strong class="label label-warning">AMARILLO</strong> Mesa Reservada</p>
  <!-- <button *ngIf="selecciono" (click)="listo()" style="text-align: right;"
  class="btn btn-primary">Listo</button>

  
  Mesa seleccionada: <div *ngFor="let mesita of listaMesas">{{mesita.id}}</div> -->
  <div class="clr-row clr-justify-content-first ">

    <div class="card">
      <img class="card-img" src="../../../../../assets/layaout.jpeg">
      <div class="card-img-overlay">
        <a [ngStyle]="{'cursor': item.stat == 2?  'pointer' :  item.stat == 1 ? 'pointer':  'not-allowed' } " *ngFor="let item of items"
          (click)="seleccionarMesas(item)">
          <img class="img-fluid" [src]="item.stat == 0 ? urlMesaRed : item.stat == 2 ? urlMesaYellow : urlMesaGreen" style="position: absolute;"
            [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
          <strong style="cursor: pointer ;position: absolute;" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
            {{item.id}}</strong>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="creado">

  <div class="modal" *ngIf="creado">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Pedido creado:</h3>
        </div>
        <div class="modal-body">

          <p>Desea realizar otro pedido?</p>
        </div>
        <a type="submit" (click)="cerrarModal()" class="btn btn-success">Aceptar</a>
        <button class="btn btn-danger" (click)="salir()">Salir</button>
        <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <div class="alert-text">
                Debe completar correctamente todos los campos
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>