.datagrid-host {
    /* display: flex;
    flex-flow: column nowrap;
    padding-top: .5rem;
    height: 50%; */
        height: 450px;

}.card{
    border: transparent;
    background-color: transparent;
    box-shadow: none;
}