<div *ngIf="cliente" class="col-md-12">
    <div class="row">
        <div class="col-xs-4">
            <p><b>Nombre:</b></p>
        </div>
        <div class="col-xs-8">
            <p>{{cliente.nombre}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p><b>Apellido:</b></p>
        </div>
        <div class="col-xs-8">
            <p>{{cliente.apellido}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p><b>Teléfono:</b></p>
        </div>
        <div class="col-xs-8">
            <p>{{cliente.telefono}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p><b>Fecha de Nacimiento:</b></p>
        </div>
        <div class="col-xs-8">
            <p>{{cliente.fechaNacimiento}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p><b>Teléfono:</b></p>
        </div>
        <div class="col-xs-8">
            <p>{{cliente.telefono}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p><b>E-mail:</b></p>
        </div>
        <div class="col-xs-8">
            <p>{{cliente.email}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p><b>Sexo:</b></p>
        </div>
        <div class="col-xs-8">
            <p>{{cliente.sexo}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <p><b>DNI:</b></p>
        </div>
        <div class="col-xs-8">
            <p>{{cliente.dni}}</p>
        </div>
    </div>
</div>