<form clrForm clrLayout="horizontal" [formGroup]="editarEmpleado" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <h1>Completá con los datos de la persona</h1>
  <clr-input-container>
    <label>Nombre</label>
    <input placeholder="Tu nombre" clrInput name="nombre" formControlName="nombre" required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Apellido</label>
    <input placeholder="Tu apellido" clrInput name="apellido" formControlName="apellido" required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>
  <!-- <clr-input-container>
    <label>Dirección</label>
    <input placeholder="Tu dirección" clrInput name="direccion" formControlName="direccion" required />
    <clr-control-helper>Ejemplo: calle falsa 1234, Springfield</clr-control-helper>
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container> -->
  <!-- <clr-input-container>
    <label>Cuil</label>
    <input placeholder="Tu cuil" clrInput name="cuil" formControlName="cuil" required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container> -->
  <clr-input-container>
    <label>Email</label>
    <input placeholder="Tu email" clrInput name="correo" formControlName="emailFormControl" required />
    <clr-control-helper>Helper text</clr-control-helper>
    <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
    <clr-control-error *clrIfError="'email'">Ingresa un email valido</clr-control-error>
  </clr-input-container>
  <clr-select-container>
    <label>Genero</label>
    <select clrSelect name="sexo" formControlName="sexo">
      <option *ngFor="let sex of sexo" [value]="sex.value" selected>
        {{sex.value}}</option>

    </select>
    <clr-control-helper>Helper text</clr-control-helper>
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-select-container>

  <clr-input-container>
    <label for="dateControl">Fecha de Nacimiento</label>
    <input id="dateControl" clrInput type="date" clrDate formControlName="date" name="date" />
  </clr-input-container>

  <clr-input-container>
    <label>Telefono</label>
    <input placeholder="Tu telefono" clrInput name="telefono" formControlName="telefono" required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>
  <!-- <clr-input-container>
    <label>Usuario</label>
    <input placeholder="Usuario" clrInput name="usuario" formControlName="usuario" required />
    <clr-control-helper>Ingresa uno que recuerdes</clr-control-helper>
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>
  <clr-password-container>
    <label>Password</label>
    <input placeholder="Password" clrPassword formControlName="password" name="password" required minlength="8" />
    <clr-control-helper>Debe contener por lo menos 8 caracteres</clr-control-helper>
    <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
    <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!</clr-control-error>
  </clr-password-container> -->
  <clr-select-container>
    <label>Sucursal asignada:</label>
    <select clrSelect id="sucursal" placeholder="Sucursal" name="sucursal" ngModel #nombre="ngModel"[ngModelOptions]="{standalone: true}"
      [(ngModel)]="sucursal" required>
      <option *ngFor="let sucursal of sucursales, let i=index" [value]="sucursal.numero">{{sucursal.nombre}}</option>
    </select>
  </clr-select-container>
  <clr-select-container>
      <label>Rol</label>
      <select clrSelect id="rol" placeholder="Rol" name="rol" formControlName="rol"
    required>
        <option *ngFor="let rol of roles, let i=index" [value]="rol.codigo">{{rol.nombre}}</option>
      </select>
    </clr-select-container>
  <br>
  <button type="submit" class="btn btn-primary">Actualizar</button>
  <!-- <a (click)="login()" href="javascript://" class="signup">Ya tengo cuenta</a> -->

  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Debe completar correctamente todos los campos
        </div>

      </div>
    </div>
    <button type="button" (click)="cerrar()" class="close" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>

</form>
