<h5>Roles / Modificar rol</h5>


<form clrForm #f="ngForm" clrLayout="horizontal" novalidate>
  <h1>Modificar Rol</h1>
  <p>Seleccione el rol, luego seleccione las acciones</p>
  <clr-select-container>
    <label>Rol</label>
    <select clrSelect id="rol" placeholder="seleccione" (change)="rolChange()"  name="rol" ngModel #nombre="ngModel"  [ngModelOptions]="{standalone: true}"
      [(ngModel)]="rol" required>
      <option *ngFor="let rol of roles, let i=index" [value]="rol.codigo">{{rol.nombre}}</option>
    </select>
  </clr-select-container>

  <div class="clr-row">
    <div class="clr-col-6">
      <h3>Lista de acciones</h3>

      <clr-input-container>

        <label>Filtros :</label>


        <input placeholder="nombre acción" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchChange($event.target.value)"
        />
        <!-- </clr-input-container>
       
          <clr-input-container> -->


        <input placeholder="codigo acción" type="number" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchCodChange($event.target.value)"
        />


      </clr-input-container>
    </div>

      <div class="clr-col-6">

        <h3>Acciones del rol</h3>

      </div>
    <div class="clr-col-6">



      <clr-datagrid [(clrDgSelected)]="selectedAcciones">

        <clr-dg-column>
          Nombre Acción
        </clr-dg-column>
        <clr-dg-column>
          Código Acción
        </clr-dg-column>
        <clr-dg-row *ngFor="let prod of dataSource" [clrDgItem]="prod"  [clrDgSelected]="selected(prod.codigo)">
          <clr-dg-cell>{{prod.nombre}}</clr-dg-cell>
          <clr-dg-cell>{{prod.codigo}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{dataSource.length}}</clr-dg-footer>
      </clr-datagrid>

    </div>
    <div class="clr-col-6">


      <clr-datagrid>

        <clr-dg-column>

          Nombre Acción
        </clr-dg-column>
        <clr-dg-column>

          Codigo Acción
        </clr-dg-column>

        <clr-dg-row *ngFor="let prod of selectedAcciones">
          <clr-dg-cell>

            {{prod.nombre}}

          </clr-dg-cell>
          <clr-dg-cell>
            {{prod.codigo}}

          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{selectedAcciones.length}}</clr-dg-footer>
      </clr-datagrid>
    </div>

  </div>

  <br>

  <br>
  <br>
  <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Agregar</a>
  <button class="btn btn-danger" (click)="volver()">Volver</button>
  <button class="btn btn-danger" (click)="eliminarRol()" *ngIf="rol != -1">Eliminar</button>

  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Error, intente nuevamente o consulte al administrador
        </div>
      </div>

    </div>
  </div>


  <div class="alert alert-app-level alert-info" *ngIf="correcto">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Rol modificado correctamente
        </div>

      </div>
    </div>
    <button type="button" class="close" (clic)="cerrarCorrecto()" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>  <div class="alert alert-app-level alert-info" *ngIf="eliminado">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <div class="alert-text">
            Rol eliminado
          </div>
  
        </div>
      </div>
      <button type="button" class="close" (clic)="cerrarCorrecto()" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>

  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Debe completar correctamente todos los campos
        </div>
      </div>

    </div>
  </div>

</form>


<div *ngIf="eliminar">

<div class="modal" *ngIf="eliminar">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Eliminar Rol:</h3>
      </div>
      <div class="modal-body">

 <p>Esta seguro de querer eliminar el rol {{nombreRol}}?</p>
      </div>
      <a type="submit" (click)="cerrarModal()" class="btn btn-success">Volver</a>
      <button class="btn btn-danger" (click)="borrar()">Eliminar</button>
      <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text">
              Debe completar correctamente todos los campos
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
</div>