<!-- <form clrForm #f="ngForm" clrLayout="horizontal" (ngSubmit)="onSubmit(f)" novalidate>

    <clr-input-container>
        <label>Nombre</label>
        <input type="text" clrInput required minlength="4" id="nombre" size="40" placeholder="Nombre del Cliente" name="nombre"
            ngModel #nombre="ngModel" required />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Apellido</label>
        <input type="text" clrInput id="apellido" placeholder="Apellido del Cliente" name="apellido" ngModel #nombre="ngModel"
            size="40" required />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Dni</label>
        <input type="number" clrInput id="dni" placeholder="Dni del Cliente" name="dni" ngModel #nombre="ngModel" size="40"
            required />
        <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>
    <br>

    <clr-select-container>
        <label>Mesa a reservar</label>
        <select clrSelect id="aForm_3" placeholder="Mesa a reservar" name="mesA" ngModel #cantidaD="ngModel" required>
            <option *ngFor="let mesas of mesa" [value]="mesas.value">{{mesas.value}}</option>
        </select>
    </clr-select-container>

    <clr-select-container>
        <label>Cantidad de personas</label>
        <select clrSelect id="aForm_3" placeholder="Cantidad de Personas" name="cantidaD" ngModel #cantidaD="ngModel"
            required>
            <option *ngFor="let cantidades of cantidad" [value]="cantidades.value">{{cantidades.value}}</option>
        </select>
    </clr-select-container>


    <clr-input-container>
        <label>Hora</label>
        <input type="text" clrInput placeholder="Horario de Llegada" [ngxTimepicker]="picker" name="hora" ngModel #hora="ngModel"
            size="40" required />
        <ngx-material-timepicker #picker></ngx-material-timepicker>
    </clr-input-container>
    <br>

    <button type="submit" class="btn btn-primary">Agregar nueva reserva</button>

    <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    Debe completar correctamente todos los campos
                </div>
            </div>
        </div>
        <button type="button" (click)="cerrar()" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

</form> -->
<h1>Agregar reservas</h1>
<br>


<button type="button" (click)="opend()">Submit</button>

    
<clr-wizard #wizard [(clrWizardOpen)]="open">
    <clr-wizard-title>Reservas</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cerrar</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Anterior</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Siguiente</clr-wizard-button>
    <clr-wizard-button (click)="onSubmit()" [type]="'finish'">Listo!</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="nombre.pristine && apellido.pristine && dni.pristine || !formPageOne.valid">
        <ng-template clrPageTitle>Ingrese sus datos</ng-template> <!-- mandatory -->
        <ng-template clrPageNavTitle>
            Datos personales
        </ng-template> <!-- optional -->
        <form #formPageOne="ngForm">
            <section class="form-block">
                <label>Datos de la persona</label>
                <div class="form-group">
                    <label>Nombre</label>
                    <label for="nameInput" aria-haspopup="true" role="tooltip" [class.invalid]="nombre.touched && !nombre.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="nameInput" required [(ngModel)]="model.nombre" name="nombre" #nombre="ngModel">
                        <span class="tooltip-content">Este campo no puede quedar vacio!</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <label for="nameInput" aria-haspopup="true" role="tooltip" [class.invalid]="apellido.touched && !apellido.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="nameInput" required [(ngModel)]="model.apellido" name="apellido"
                            #apellido="ngModel">
                        <span class="tooltip-content">Este campo no puede quedar vacio!</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>DNI</label>
                    <label for="dni" aria-haspopup="true" role="tooltip" [class.invalid]="dni.touched && !dni.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="dni" required [(ngModel)]="model.dni" name="dni"
                            #dni="ngModel">
                        <span class="tooltip-content">Este campo no puede quedar vacio!</span>
                    </label>
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="(cantidad.pristine && mesa.pristine) || !formPageTwo.valid">
        <ng-template clrPageTitle>Necesitamos un numero</ng-template> <!-- mandatory -->
        <ng-template clrPageNavTitle>
            Datos de la reserva
        </ng-template> <!-- optional -->
        <form #formPageTwo="ngForm">
            <section class="form-block">
                <label>Cantidad de personas</label>
                <div class="form-group">
                    <label>Cantidad</label>
                    <label for="cantidad" aria-haspopup="true" role="tooltip" [class.invalid]="cantidad.touched && !cantidad.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <select clrSelect id="cantidad" required [(ngModel)]="model.cantidad" name="cantidad" #cantidad="ngModel"
                            #cantidad="ngModel" required>
                            <option *ngFor="let cantidad of cantidades" [value]="cantidad.value">{{cantidad.value}}</option>
                        </select>
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <label>Mesa a reservar</label>
                <div class="form-group">
                    <label>Mesa</label>
                    <label for="mesa" aria-haspopup="true" role="tooltip" [class.invalid]="mesa.touched && !mesa.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <select clrSelect id="mesa" required [(ngModel)]="model.mesa" name="mesa" #mesa="ngModel" #mesA="ngModel"
                            required>
                            <option *ngFor="let mesa of mesas" [value]="mesa.value">{{mesa.value}}</option>
                        </select>
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <br>
                <label>Fecha de la reserva</label>
                <div class="form-group">
                    <label>Fecha</label>
                    <label for="fecha" aria-haspopup="true" role="tooltip" [class.invalid]="fecha.touched && !fecha.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="date" [(clrDate)]="date" id="fecha" required [(ngModel)]="model.fecha" name="fecha"
                            #fecha="ngModel">
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <label>hora de la reserva</label>
                <div class="form-group">
                    <label>Hora</label>
                    <label for="hora" aria-haspopup="true" role="tooltip" [class.invalid]="hora.touched && !hora.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="hora" [ngxTimepicker]="picker" id="hora" required [(ngModel)]="model.hora"
                            name="hora" #hora="ngModel">
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid || !formPageTwo.valid">
        <ng-template clrPageTitle>Su reserva</ng-template> <!-- mandatory -->
        <ng-template clrPageNavTitle>
            <span *ngIf="formPageOne.valid && formPageTwo.valid">
                Casi terminamos
            </span>
            <span *ngIf="!formPageOne.valid || !formPageTwo.valid">
                Casi terminamos
            </span>
        </ng-template> <!-- optional -->

        <div *ngIf="formPageOne.valid && formPageTwo.valid">
            <form class="compact">
                <label>Informacion de la reserva</label>
                <section class="form-block">
                    <div class="form-group">
                        <label>Tu nombre</label>
                        <span>{{ this.model.nombre }} {{this.model.apellido}}</span>
                    </div>
                    <div class="form-group">
                        <label>Cantidad de personas</label>
                        <span>{{ this.model.cantidad }}</span>
                    </div>
                    <div class="form-group">
                        <label>Mesa reservada</label>
                        <span>{{ this.model.mesa }}</span>
                    </div>
                    <div class="form-group">
                        <label>Fecha de la reserva</label>
                        <span>{{ this.model.fecha }}</span>
                    </div>
                    <div class="form-group">
                        <label>Hora de la reserva</label>
                        <span>{{ this.model.hora }} </span>
                    </div>
                </section>
            </form>
        </div>

        <div *ngIf="!formPageOne.valid || !formPageTwo.valid">
            <p>Not quite there yet.</p>
        </div>

    </clr-wizard-page>
</clr-wizard>