<a class="card clickable" (click)="verProductos(categoria.id)">
  <div class="card-block">
      <p class="card-text">
        {{categoria.nombre}}
      </p>
  </div>
  <div class="card-img">
      <img src={{categoria.url}}>
  </div>
</a>

