<div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Completá tus datos</h3>
            </div>
            <div class="modal-body">
                <form clrForm clrLayout="horizontal" [formGroup]="altaCliente" #f="ngForm" (ngSubmit)="onSubmit(f)"
                      novalidate>
                    <div class="signpost-item">
                        <div class="trigger-item">
                            <clr-signpost>
                                <button class="btn btn-link"
                                        clrSignpostTrigger>
                                    ¿Necesitás ayuda?
                                    <clr-icon shape="help-info"></clr-icon>
                                </button>
                                <clr-signpost-content [clrPosition]="'bottom-middle'" *clrIfOpen>
                                    No te preocupes,
                                    <a target="_blank" href="https://youtu.be/YYRcpJL-epg">Mirá el videotutorial para registrarte.</a>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>
                    </div>
                    <clr-input-container>
                        <label>Nombre</label>
                        <input placeholder="tu nombre" clrInput name="nombre" formControlName="nombre" required/>
                        <clr-control-error>Es requerido!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Apellido</label>
                        <input placeholder="tu apellido" clrInput name="apellido" formControlName="apellido" required/>
                        <clr-control-error>Es requerido!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Dirección</label>
                        <input placeholder="tu dirección" clrInput name="direccion" formControlName="direccion"
                               required/>
                        <clr-control-helper>Ejemplo: calle falsa 1234, Springfield</clr-control-helper>
                        <clr-control-error>Es requerido!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Dni</label>
                        <input placeholder="tu dni" clrInput name="dni" formControlName="dni" required/>
                        <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                        <clr-control-error *clrIfError="'pattern'">Solo se permiten números</clr-control-error>

                    </clr-input-container>
                    <clr-input-container>
                        <label>Email</label>
                        <input placeholder="tu email" clrInput name="correo" formControlName="emailFormControl"
                               required/>
                        <clr-control-helper>Helper text</clr-control-helper>
                        <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                        <clr-control-error *clrIfError="'email'">Ingresa un email valido</clr-control-error>
                    </clr-input-container>
                    <clr-select-container>
                        <label>Genero</label>
                        <select clrSelect name="sexo" formControlName="sexo">
                            <option *ngFor="let sex of sexos" [value]="sex.value" selected>
                                {{sex.value}}</option>

                        </select>
                        <clr-control-helper>Seleccione un sexo</clr-control-helper>
                        <clr-control-error>Es requerido!</clr-control-error>
                    </clr-select-container>

                    <clr-input-container>
                        <label for="dateControl">Fecha de Nacimiento</label>
                        <input id="dateControl" clrInput type="date" clrDate formControlName="date" name="date"/>
                    </clr-input-container>

                    <clr-input-container>
                        <label>Telefono</label>
                        <input placeholder="tu telefono" clrInput name="telefono" formControlName="telefono" required/>
                        <clr-control-error>Es requerido!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Usuario</label>
                        <input placeholder="usuario" clrInput name="usuario" formControlName="usuario" required/>
                        <clr-control-helper>Ingresa uno que recuerdes</clr-control-helper>
                        <clr-control-error>Es requerido!</clr-control-error>
                    </clr-input-container>
                    <clr-password-container>
                        <label>Password</label>
                        <input placeholder="Password" clrPassword formControlName="password" name="password" required
                               minlength="8"/>
                        <clr-control-helper>Debe contener por lo menos 8 caracteres</clr-control-helper>
                        <clr-control-error *clrIfError="'required'">Es requerido!</clr-control-error>
                        <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!
                        </clr-control-error>
                    </clr-password-container>

                    <br>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <a (click)="login()" href="javascript://" class="signup">Ya tengo cuenta</a>

                    <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <div class="alert-text">
                                    Debe completar correctamente todos los campos
                                </div>
                            </div>
                        </div>
                        <button type="button" (click)="cerrar()" class="close" aria-label="Close">
                            <clr-icon aria-hidden="true" shape="close"></clr-icon>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</div>