.example-form {
    min-width: 150px;
    max-width: 500px;
    
    margin-top: 20px;
    margin-left: 30%;
    border: 3px;
    border-color: azure;
  
  }
  
  .example-full-width {
    width: 100%;
  
  }
 
body{

width: 100%;
height: 100%;

}
.mat-raised-button{
width: 100%;

}
