
<div class="doNotPrint">

<clr-main-container>
    <app-navbar (menuButtonClicked)="sidebarChangeState()" class="navbar-container"></app-navbar>
    <div class="content-container">
        <main class="content-area">           
                  
                <router-outlet></router-outlet>
        </main>
        <nav class="sidenav" [clr-nav-level]="1">
            <app-sidebar></app-sidebar>

        </nav>
    </div>
</clr-main-container>
</div>