.page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar {
    position: absolute;
    left: 0;
    width: 300px;
    box-shadow: 3px 0px 5px grey;
}

.page-content {
    padding-left: 10px;
}

.content-container {
    padding: 0px;
}

.breadcrums {    
    position: fixed;
    display: flex;
}
/* .doNotPrint{display:none !important;} */
