<h5>Categorias / Editar categoria</h5>



<div class="modal" (ngSubmit)="onSubmit(f)">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">



        <button aria-label="Close" class="close" type="button" (click)="cerrar()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Categoría</h3>
      </div>
      <div class="modal-body">
        <form clrForm #f="ngForm" clrLayout="horizontal" novalidate>
          <clr-input-container>
            <label>Nombre categoría:</label>
            <input clrInput type="text" minlength="4" id="nombre" size="40" placeholder="Nombre de la categoría"
              [(ngModel)]="cate.nombre" name="nombre" ngModel #nombre="ngModel">
            <clr-control-error>Es requerido!</clr-control-error>
          </clr-input-container>
        </form>
      </div>



          <br>
          <br>

          <clr-input-container> 
            <label >Agregar imagen</label>
             <input type="file" clrInput multiple  name="foto" (change)="fileChange(foto)"  #foto  accept=".png,.jpg,.jpeg" ngModel id="foto">
    </clr-input-container>
    
    
    <div *ngIf="cate.foto">
        <img  class="img-fluid img-thumbnail" style="width: 50%; height: auto;" [src]='getImage(cate.foto)' />
    </div>





      <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Editar</a>
      <button class="btn btn-danger" (click)="volver()">Volver</button>
      <div class="alert alert-app-level alert-danger" style="margin-bottom:24px"*ngIf="complete">

        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text">
              Debe completar correctamente todos los campos
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>