<h5>Sucursales / Ver sucursales</h5>

<br>

<clr-datagrid>
  <clr-dg-column>Nombre</clr-dg-column>
  <clr-dg-column>Dirección</clr-dg-column>
  <clr-dg-column>Telefono</clr-dg-column>
  <!-- <clr-dg-column>E-mail</clr-dg-column> -->

  <clr-dg-row *ngFor="let sucursal of sucursal$ | async">
      <clr-dg-action-overflow>
          <button class="action-item" (click)="eliminarSucursal( sucursal.numero )">Eliminar Sucursal</button>
          <button class="action-item" (click)="onEdit( sucursal.numero )">Editar Sucursal</button>
          <button class="action-item" (click)="onCargarMesas( sucursal.numero )">Cargar/Ver Mesas</button>
          <button class="action-item" (click)="onAsignarCarta( sucursal.numero )">Asignar Carta</button>
          <button class="action-item" (click)="onVerCarta( sucursal.numero )">Ver Carta</button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{sucursal.nombre}}</clr-dg-cell>
      <clr-dg-cell>{{sucursal.direccion}}</clr-dg-cell>
      <clr-dg-cell>{{sucursal.telefono}}</clr-dg-cell>
      <!-- <clr-dg-cell>{{cliente.email}}</clr-dg-cell> -->
  </clr-dg-row>
  <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <!-- {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users -->
      </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

