<link rel="stylesheet" href="../../../../../assets/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../../assets/css/AdminLTE.min.css">
<div class="container-fluid no-margin">
    <div class="row">
        <h1>Reporte de Ventas</h1>
        <hr>
    </div>
    <div class="row" style="margin-top: 40px" *ngIf="!busqueda">
        <form clrForm [formGroup]="reporteGroup" clrLayout="horizontal" novalidate>
            <em>Seleccioná un rango de fechas para que generemos el reporte.</em>
            <clr-date-container style="width: 100%">
                <label for="fechaDesde">Fecha desde</label>
                <input id="fechaDesde" type="date" clrDate autocomplete="off" formControlName="fechaDesde">
            </clr-date-container>
            <clr-date-container style="width: 100%">
                <label for="fechaHasta">Fecha Hasta</label>
                <input id="fechaHasta" type="date" clrDate autocomplete="off" formControlName="fechaHasta">
            </clr-date-container>
            <div style="width: 100%">
                <span *ngIf="reporteGroup.touched && reporteGroup.dirty && reporteGroup.getError('rangoFechas')"
                      style="color: red; margin-left: 15px ">Ingrese un rango de fechas válido</span>
            </div>
            <div style="width: 100%" style="margin-left: 10px">
                <button class="btn btn-primary" [disabled]="reporteGroup.status !== 'VALID'" (click)="enviarQuery()">
                    Buscar
                </button>
            </div>
        </form>
    </div>
    <div class="row" *ngIf="busqueda">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-maroon"><i class="fa fa-handshake-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de ventas</span>
                    <span class="info-box-number"> {{ ventas.length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-dollar"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Facturado ($)</span>
                    <span class="info-box-number">$ {{totalFacturado}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="row" style="width: 100%" *ngIf="busqueda">
            <!-- Aca el  datagrid -->
            <clr-datagrid style="width: 100%">
                <!--     fechaFactura: string;
            numeroFactura: number;
            numeroSucursal: number;
            nombreSucursal: string;
            montoFacturado: number; -->
                <clr-dg-column>Nro. Factura</clr-dg-column>
                <clr-dg-column>Fecha</clr-dg-column>
                <clr-dg-column>Sucursal</clr-dg-column>
                <clr-dg-column>Monto</clr-dg-column>
                <clr-dg-row *ngFor="let fila of ventas">
                    <clr-dg-cell>{{ fila.numeroFactura }}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.fechaFactura | date:'dd/MM/yyyy' }}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.nombreSucursal }}</clr-dg-cell>
                    <clr-dg-cell>{{ fila.montoFacturado }}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer><strong>Total Facturado: $</strong>{{ totalFacturado }}</clr-dg-footer>
            </clr-datagrid>
            <button class="btn btn-primary" (click)="habilitarBusqueda()">Realizar otra consulta</button>
            <button class="btn btn-primary-outline" (click)="volverPanel()">Volver</button>
        </div>
    </div>
</div>