<clr-main-container>
    <h1>Cerrar Caja</h1>
    <hr>
    <div class="col-md-12">
    <form *ngIf="cerrarCajaGroup" clrForm [formGroup]="cerrarCajaGroup" clrLayout="horizontal" novalidate>
        <clr-input-container class="col-md-12" *ngIf="!cajaCerrada == true">
            <label class="col-md-6">Ingrese cantidad de dinero existente en la caja</label>
            <input class="col-md-6" clrInput type="number" name="monto" size="40" placeholder="Ingrese un número. Ejemplo: 22.95" formControlName="montoIngresado">
            <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
            <clr-control-error *clrIfError="'pattern'">¡Debe ingresar un número decimal!. Ejemplo: 2.50</clr-control-error>
        </clr-input-container>
        <clr-input-container *ngIf="montoEstimado > cerrarCajaGroup.value.montoIngresado && !cajaCerrada == true" class="col-md-12">
            <label class="col-md-6">Usted debería tener ${{ montoEstimado }} en la caja, pero ingresó menos dinero. </label>
            <input class="col-md-6" clrInput type="text" size="40" placeholder="Un comentario para explicar la diferencia de dinero " formControlName="comentario" name="comentario">
            <clr-control-error *clrIfError=" 'required' ">¡Campo requerido!</clr-control-error>
        </clr-input-container>
        <div class="col-md-12" style="margin-top:25px;" *ngIf="!cajaCerrada == true">
        <a type="submit" *ngIf="cerrarCajaGroup.status =='VALID'" (click)=onSubmit() class="btn btn-primary">Cerrar Caja</a>
        <a href="/admin-panel " class="btn btn-secondary ">Volver</a>
        </div>
        <div class=" alert alert-app-level alert-danger " style=" margin-bottom:24px " *ngIf="cerrarCajaGroup.get('montoIngresado').dirty && cerrarCajaGroup.status == 'INVALID' && (cerrarCajaGroup.touched || cerrarCajaGroup.dirty) ">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <div class="alert-text">
                        Debe completar correctamente todos los campos.
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-app-level alert-success " style="margin-bottom:24px" *ngIf="cajaCerrada == true">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon shape="success-standard" class="is-solid"></clr-icon>
                    </div>
                    <div class="alert-text">
                        La caja ha sido cerrada satisfactoriamente. <a class="btn btn-link" [routerLink]="['/admin-panel']" routerLinkActive="router-link-active" >Volver</a>
                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>
  </clr-main-container>