<link rel="stylesheet" href="../../../../../assets/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../../assets/css/AdminLTE.min.css">
<div class="container-fluid no-margin">
  <div class="row">
    <h1>Reporte de Mozos de Sucursal</h1>
    <hr>
  </div>
  <div class="row" style="margin-top: 40px" *ngIf="!busqueda">
    <form clrForm [formGroup]="reporteGroup" clrLayout="horizontal" novalidate>
      <em>Seleccioná un rango de fechas para que generemos el reporte.</em>
      <clr-date-container style="width: 100%">
        <label for="fechaDesde">Fecha desde</label>
        <input id="fechaDesde" type="date" clrDate autocomplete="off" formControlName="fechaDesde">
      </clr-date-container>
      <clr-date-container style="width: 100%">
        <label for="fechaHasta">Fecha Hasta</label>
        <input id="fechaHasta" type="date" clrDate autocomplete="off" formControlName="fechaHasta">
      </clr-date-container>
      <div style="width: 100%">
        <span *ngIf="reporteGroup.touched && reporteGroup.dirty && reporteGroup.getError('rangoFechas')"  style="color: red; margin-left: 15px ">Ingrese un rango de fechas válido</span>
      </div>
      <div style="width: 100%" style="margin-left: 10px">
        <button class="btn btn-primary" [disabled]="reporteGroup.status !== 'VALID'" (click)="enviarQuery()">Buscar</button>
      </div>
    </form>
  </div>
  <div class="row" *ngIf="busqueda">
    <div class="row" style="width: 100%" *ngIf="busqueda">
      <!-- Aca el  datagrid -->
      <clr-datagrid style="width: 100%">
        <clr-dg-column>Mozo</clr-dg-column>
        <clr-dg-column>Numero</clr-dg-column>
        <clr-dg-column>Cantidad de Productos</clr-dg-column>
        <clr-dg-column>Cantidad de Pedidos</clr-dg-column>
        <clr-dg-column>Monto total</clr-dg-column>
        <clr-dg-row *ngFor="let fila of mozoReporte">
          <clr-dg-cell>{{ fila.nombre + ' ' + fila.apellido}}</clr-dg-cell>
          <clr-dg-cell>{{ fila.numero }}</clr-dg-cell>
          <clr-dg-cell>{{ fila.cantidadProductos }}</clr-dg-cell>
          <clr-dg-cell>{{ fila.cantidadPedidos }}</clr-dg-cell>
          <clr-dg-cell>{{ fila.montoPedidos }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{mozoReporte.length}} Mozos</clr-dg-footer>
      </clr-datagrid>
      <button class="btn btn-primary" (click)="habilitarBusqueda()">Realizar otra consulta</button>
      <button class="btn btn-primary-outline" (click)="volverPanel()">Volver</button>
    </div>
  </div>
</div>