<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                Mi Perfil
            </div>
            <div class="card-block">
                <!-- <div class="card-title">
                    
                </div> -->
                <div class="card-text">
                    <div [ngSwitch]="tipoUsuario">
                        <div *ngSwitchCase="'admin'">
                            <ng-container *ngIf="adminGroup && editIndex == true">
                                <form  clrForm [formGroup]="adminGroup" clrLayout="horizontal" novalidate>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-md-6">Ingresá un e-mail</label>
                                        <input class="col-md-6" clrInput type="email" size="40" placeholder="direccion@dominio.com" formControlName="email">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                        <clr-control-error *clrIfError="'email'">Ingresá un correo electrónico válido</clr-control-error>
                                    </clr-input-container>
                                    <div class="col-md-12" style="margin-top: 30px"><button type="button" [disabled]="(adminGroup.get('email').status!='VALID')" class="btn btn-primary" (click)="updateDatos('admin')">Cambiar correo electrónico</button></div>
                                    <hr>
                                    <h4>Cambiar contraseña</h4>
                                    <em>Puedes cambiar la contraseña, ingresando una nueva contraseña dos veces.</em>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Ingresá la contraseña actual</label>
                                        <input class="col-xs-12" clrInput  name="passOriginal" type="password" size="40"  formControlName="passOriginal">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Ingresá una nueva contraseña</label>
                                        <input class="col-xs-12" clrInput  name="pass1" type="password" size="40"  formControlName="pass1">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                        <clr-control-error *clrIfError="'passwordsDistintas'">Las contraseñas deben coincidir</clr-control-error>
                                    </clr-input-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Repite la nueva contraseña</label>
                                        <input class="col-xs-12" clrInput name="pass2" type="password" size="40"  formControlName="pass2">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                        <clr-control-error *clrIfError="'passwordsDistintas'">Las contraseñas deben coincidir</clr-control-error>
                                    </clr-input-container>
                                    
                                    <div class="col-md-12" *ngIf="adminGroup.status =='VALID'" style="margin-top: 30px"><button type="button" class="btn btn-primary" (click)="cambiarPass('admin')">Actualizar contraseña</button></div>
                                    <div class="alert alert-app-level alert-warning " style="margin-bottom:24px" *ngIf="adminGroup.get('pass1').dirty && adminGroup.get('pass2').dirty && adminGroup.getError('passwordsDistintas') ">
                                        <div class="alert-items">
                                          <div class="alert-item static">
                                            <div class="alert-icon-wrapper">
                                              <clr-icon shape="warning-standard" class="is-solid"></clr-icon>
                                            </div>
                                            <div class="alert-text">
                                              Las contraseñas ingresadas deben coincidir.
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                            <ng-container *ngIf="editIndex == false">
                                <div class="col-md-12">
                                    <p>Bienvenido, Admin!</p>
                                    <p>En esta página los usuarios podrán ver sus perfiles. El administrador no tiene un perfil. Sin embargo, puedes cambiar el correo electrónico y las contraseñas si lo deseas.</p>
                                    <button id="botonHabilitarCambios" class="btn btn-primary" (click)="habilitarEdicion()">Realizar cambios</button>
                                </div>
                            </ng-container>
                        </div>
                        <div *ngSwitchCase="'empleado'">
                            <ng-container *ngIf="empleadoGroup && editIndex == true">
                                <form  clrForm [formGroup]="empleadoGroup" clrLayout="horizontal" novalidate>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Nombre</label>
                                        <input class="col-xs-12" clrInput type="text" size="40" placeholder="Un nombre" formControlName="nombre">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                        <clr-control-error *clrIfError="'email'">Ingresá un correo electrónico válido></clr-control-error>
                                    </clr-input-container>    
                          
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Apellido</label>
                                        <input class="col-xs-12" clrInput  name="apellido" type="text" size="40"  formControlName="apellido">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Fecha de nacimiento</label>
                                        <input class="col-xs-12" clrInput clrDate type="date" size="40"  formControlName="fechaNacimiento">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>        
                                    <clr-select-container class="col-md-12">
                                        <label>Sexo</label>
                                        <select clrSelect placeholder="Sexo" formControlName="sexo">
                                            <option *ngFor="let sexo of sexos " [value]="sexo.value ">{{sexo.value}}</option>
                                        </select>
                                    </clr-select-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Email</label>
                                        <input class="col-xs-12" clrInput type="email" size="40"  formControlName="email">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
            
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Teléfono</label>
                                        <input class="col-xs-12" clrInput type="text" size="40"  formControlName="telefono">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    <clr-select-container class="col-md-12">
                                        <label>Sucursal</label>
                                        <select clrSelect placeholder="Sucursal" formControlName="nroSucursal">
                                            <option *ngFor="let sucursal of sucursales " [value]="sucursal.numero ">{{sucursal.nombre}}</option>
                                        </select>
                                    </clr-select-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">CUIL</label>
                                        <input class="col-xs-12" clrInput type="text" size="40"  formControlName="cuil">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    </form>
                                    <div class="col-md-12" *ngIf="empleadoGroup.status =='VALID'" style="margin-top: 30px"><button type="button" class="btn btn-primary" (click)="updateDatos('empleado')">Actualizar información</button></div>
                                    <hr>
                                    <br>
                                    <h4>Cambiar contraseña</h4>
                                    <em>Puedes cambiar la contraseña, ingresando una nueva contraseña dos veces.</em>
                                    <form  clrForm [formGroup]="passGroup" clrLayout="horizontal" novalidate>
                                        <clr-password-container class="col-md-12">
                                            <label class="col-xs-12">Contraseña actual</label>
                                            <input class="col-xs-12"  clrPassword type="text" size="40"  formControlName="passVieja">
                                            <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                        </clr-password-container>
                                        <clr-password-container class="col-md-12">
                                            <label class="col-xs-12">Nueva contraseña</label>
                                            <input class="col-xs-12"  clrPassword type="text" size="40"  formControlName="pass1">
                                            <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                        </clr-password-container>
                                        <clr-password-container class="col-md-12">
                                            <label class="col-xs-12">Repite la nueva contraseña</label>
                                            <input class="col-xs-12"  clrPassword type="text" size="40"  formControlName="pass2">
                                            <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                        </clr-password-container>
                                        <div class="col-md-12" *ngIf="passGroup.status =='VALID'" style="margin-top: 30px"><button type="button" class="btn btn-primary" (click)="cambiarPass('empleado')">Actualizar contraseña</button></div>
                                        <div class="alert alert-app-level alert-warning " style="margin-bottom:24px" *ngIf="passGroup.get('pass1').dirty && passGroup.get('pass2').dirty && passGroup.getError('passwordsDistintas') ">
                                            <div class="alert-items">
                                                <div class="alert-item static">
                                                    <div class="alert-icon-wrapper">
                                                        <clr-icon shape="warning-standard" class="is-solid"></clr-icon>
                                                    </div>
                                                    <div class="alert-text">
                                                        Las contraseñas ingresadas deben coincidir.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            </ng-container>
                            <ng-container *ngIf="empleadoGroup && editIndex == false">
                                <div class="row">
                                    <div class="col-sm-4"><b>Nombre</b></div>
                                    <div class="col-sm-8">{{empleadoGroup.value.nombre}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Apellido</b></div>
                                    <div class="col-sm-8">{{empleadoGroup.value.apellido}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Sexo</b></div>
                                    <div class="col-sm-8">{{empleadoGroup.value.sexo}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Email</b></div>
                                    <div class="col-sm-8">{{empleadoGroup.value.email}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Fecha de nacimiento</b></div>
                                    <div class="col-sm-8">{{empleadoGroup.value.fechaNacimiento | date: 'dd/MM/yy'}} </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Teléfono</b></div>
                                    <div class="col-sm-8">{{empleadoGroup.value.telefono}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Sucursal</b></div>
                                    <div class="col-sm-8">Sucursal nro. {{empleadoGroup.value.nroSucursal}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>CUIL</b></div>
                                    <div class="col-sm-8">{{empleadoGroup.value.cuil}}</div>
                                </div>
                                
                            </ng-container>
                        </div>
                        <div *ngSwitchCase="'cliente'">
                            <ng-container *ngIf="clienteGroup && editIndex == true">
                                <form clrForm [formGroup]="clienteGroup" clrLayout="horizontal" novalidate>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Nombre</label>
                                        <input class="col-xs-12" clrInput type="text" size="40" placeholder="Un nombre" formControlName="nombre">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>                                    
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Apellido</label>
                                        <input class="col-xs-12" clrInput  name="apellido" type="text" size="40"  formControlName="apellido">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    <clr-select-container class="col-md-12">
                                        <label>Sexo</label>
                                        <select clrSelect placeholder="Sexo" formControlName="sexo">
                                            <option *ngFor="let sexo of sexos " [value]="sexo.value ">{{sexo.value}}</option>
                                        </select>
                                    </clr-select-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Email</label>
                                        <input class="col-xs-12" clrInput type="email" size="40"  formControlName="email">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Teléfono</label>
                                        <input class="col-xs-12" clrInput type="text" size="40"  formControlName="telefono">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">Fecha de nacimiento</label>
                                        <input class="col-xs-12" clrInput clrDate type="date" size="40"  formControlName="fechaNacimiento">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                   
                                    <clr-input-container class="col-md-12">
                                        <label>Dirección</label>
                                        <input type="text" size="40" clrInput placeholder="Calle y Número, Departamento, Localidad" formControlName="direccion">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    <clr-input-container class="col-md-12">
                                        <label class="col-xs-12">DNI</label>
                                        <input class="col-xs-12" clrInput type="text" size="40"  formControlName="dni">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-input-container>
                                    <div class="col-md-12" *ngIf="clienteGroup.status =='VALID'" style="margin-top: 30px"><button type="button" class="btn btn-primary" (click)="updateDatos('cliente')">Actualizar información</button></div>
                                </form>
                                <hr>
                                <br>
                                <h4>Cambiar contraseña</h4>
                                <em>Puedes cambiar la contraseña, ingresando una nueva contraseña dos veces.</em>
                                <form  clrForm [formGroup]="passGroup" clrLayout="horizontal" novalidate>
                                    <clr-password-container class="col-md-12">
                                        <label class="col-xs-12">Contraseña actual</label>
                                        <input class="col-xs-12"  clrPassword type="text" size="40"  formControlName="passVieja">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-password-container>
                                    <clr-password-container class="col-md-12">
                                        <label class="col-xs-12">Nueva contraseña</label>
                                        <input class="col-xs-12"  clrPassword type="text" size="40"  formControlName="pass1">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-password-container>
                                    <clr-password-container class="col-md-12">
                                        <label class="col-xs-12">Repite la nueva contraseña</label>
                                        <input class="col-xs-12"  clrPassword type="text" size="40"  formControlName="pass2">
                                        <clr-control-error *clrIfError="'required'">¡Campo requerido!</clr-control-error>
                                    </clr-password-container>
                                    <div class="col-md-12" *ngIf="passGroup.status =='VALID'" style="margin-top: 30px"><button type="button" class="btn btn-primary" (click)="cambiarPass('cliente')">Actualizar contraseña</button></div>
                                    <div class="alert alert-app-level alert-warning " style="margin-bottom:24px" *ngIf="passGroup.get('pass1').dirty && passGroup.get('pass2').dirty && passGroup.getError('passwordsDistintas') ">
                                        <div class="alert-items">
                                            <div class="alert-item static">
                                                <div class="alert-icon-wrapper">
                                                    <clr-icon shape="warning-standard" class="is-solid"></clr-icon>
                                                </div>
                                                <div class="alert-text">
                                                    Las contraseñas ingresadas deben coincidir.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                            <ng-container *ngIf="editIndex == false">
                                <div class="row">
                                        <div class="col-sm-4"><b>Nombre</b></div>
                                        <div class="col-sm-8">{{clienteGroup.value.nombre}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Apellido</b></div>
                                    <div class="col-sm-8">{{clienteGroup.value.apellido}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Sexo</b></div>
                                    <div class="col-sm-8">{{clienteGroup.value.sexo}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Email</b></div>
                                    <div class="col-sm-8">{{clienteGroup.value.email}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Fecha de nacimiento</b></div>
                                    <div class="col-sm-8">{{clienteGroup.value.fechaNacimiento | date:'dd/MM/yy'}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Teléfono</b></div>
                                    <div class="col-sm-8">{{clienteGroup.value.telefono}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Direccion</b></div>
                                    <div class="col-sm-8">{{clienteGroup.value.direccion}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>DNI</b></div>
                                    <div class="col-sm-8">{{clienteGroup.value.dni}}</div>
                                </div>
                            </ng-container>
                        </div>
                        <div *ngSwitchDefault>
                            <p>Cargando...</p>
                        </div>
                        </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" *ngIf="editIndex == true" (click)="deshabilitarEdicion()">Cancelar Edición</button>
                <button class="btn btn-sm btn-link" *ngIf="editIndex == false" (click)="habilitarEdicion()">Habilitar Edición</button>
            </div>
        </div>
    </div>
</div>