<form clrForm #f="ngForm" clrLayout="horizontal" novalidate (ngSubmit)="onSubmit(f)">
    <h5>Recompensas/ Crear recompensa</h5>

  <clr-input-container>
    <label>Nombre de la recompensa</label>
    <input type="text" clrInput required minlength="4" id="nombre" size="40" placeholder="Nombre de la recompensa"
      name="nombre" ngModel #nombre="ngModel" required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>

  <p>Seleccione la categoria, luego seleccione los productos con sus respectivos puntos</p>
  <clr-select-container>
    <label>Categoría</label>
    <select clrSelect id="cat" (change)="categoriaChange()" placeholder="Categoría" name="cat" ngModel #nombre="ngModel"
      [(ngModel)]="codCategoria" required>
      <option *ngFor="let cat of listaCategoria, let i=index" [value]="cat.codigo">{{cat.nombre}}</option>
    </select>
  </clr-select-container>
  <!-- 
  <div class="clr-row">
    <div class="clr-col-4">

      [ngModel]="imagenPerfil.image" (ngModelChange)="actualizarImagen($event)"
      <label>Buscar Carta</label>
      <input type="file" multiple (change)="fileChange(input)" #input />
      <input type="text" clrInput [(ngModel)]="busqueda" #imagen ngModel [ngModelOptions]="{standalone: true}">
    </div>

    <div class="clr-col-6">

      <a type="submit" (click)="buscar(imagen)" class="btn btn-success">Buscar</a>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-6">

      <h3>Productos</h3>
      <clr-datagrid [(clrDgSelected)]="selectedProd">

        <clr-dg-column>
     

          Nombre
        </clr-dg-column>
        <!-- [clrDgSelected]="selected(prod.codigo)" -->

        <clr-dg-row *ngFor="let prod of dataSource" [clrDgItem]="prod">
          <clr-dg-cell>{{prod.nombre}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{dataSource.length}}</clr-dg-footer>
      </clr-datagrid>

    </div>


    <div class="col-sm-6">
      <h3>Recompensas</h3>

      <clr-datagrid>

        <clr-dg-column>

          Nombre Producto
        </clr-dg-column>
        <clr-dg-column>Cantidad</clr-dg-column>

        <clr-dg-row *ngFor="let prod of selectedProd">
          <clr-dg-cell>

            {{prod.nombre}}

          </clr-dg-cell>
          <clr-dg-cell>
            <input type="number" min="1" placeholder="cantidad" required name="prod.cantidad" [(ngModel)]="prod.cantidad"
              ngModel #prod.cantidad="ngModel">
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{selectedProd.length}}</clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
  <clr-input-container>
    <label>Puntos</label>
    <input type="number" clrInput required minlength="4" id="puntos" size="40" placeholder="Puntos de la recompensa"
      name="puntos" ngModel #puntos="ngModel" required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>
  <br>
</form>

<a type="submit" (click)="onSubmit(f)" class="btn btn-success">Agregar</a>
<button class="btn btn-danger" (click)="volver()">Ver lista </button>
<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Debe completar correctamente todos los campos
      </div>
    </div>

  </div>
</div>

<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="completePrecio">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Complete correctamente el precio de cada producto
      </div>
    </div>

  </div>
</div>

<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Error, intente nuevamente o consulte al administrador
      </div>
    </div>

  </div>
</div>


<div class="alert alert-app-level alert-info" *ngIf="correcto">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Recompensa creada correctamente
      </div>

    </div>
  </div>
  <button type="button" class="close" (clic)="cerrarCorrecto()" aria-label="Close">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>