<h2>Seleccione una categoria</h2>
<div class="card-columns">
    <app-tarjeta-categoria [categoria]="categoria" [numeroSucursal]="numeroSucursal" [numeroReserva]="numeroReserva" *ngFor="let categoria of categorias "></app-tarjeta-categoria>
</div>