<h5>Promociones / Ver lista promociones</h5>
 
 
 <clr-datagrid [(clrDgSingleSelected)]="selectedPromo" class="datagrid">
    
    <clr-dg-action-bar>
        <div class="btn-group">
          <button class="btn btn-success" (click)=agregarPromo()><clr-icon shape="plus"></clr-icon>Agregar</button>
          <button class="btn btn-danger" *ngIf="selectedPromo" (click)=quitarPromo(selectedPromo.codigo)><clr-icon shape="trash"></clr-icon>Eliminar</button>
          <button class="btn btn-primary" *ngIf="selectedPromo" (click)=editarPromo(selectedPromo.codigo)><clr-icon shape="pencil"></clr-icon>Editar</button>
                 
        </div>
    </clr-dg-action-bar>
    <clr-dg-column>Nombre</clr-dg-column>
    <clr-dg-column>Descripción</clr-dg-column>
    <clr-dg-column>Precio</clr-dg-column>
    <clr-dg-column>Día desde</clr-dg-column>
    <clr-dg-column>Día hasta</clr-dg-column>
    <clr-dg-column>Mes desde</clr-dg-column>
    <clr-dg-column>Mes hasta</clr-dg-column>
    <clr-dg-column>Hora desde</clr-dg-column>
    <clr-dg-column>Hora hasta</clr-dg-column>
    <clr-dg-column>Días activo</clr-dg-column>
    <clr-dg-column>Periodicidad</clr-dg-column>

    <clr-dg-row [clrDgItem]="promo" *ngFor="let promo of dataSource, let i=index">
      <clr-dg-cell>{{promo.nombre}}</clr-dg-cell>
      <clr-dg-cell>{{promo.descripcion}}</clr-dg-cell>
      <!-- <clr-dg-cell>{{promo.descuento}}</clr-dg-cell> -->
      <clr-dg-cell>{{promo.precio}}</clr-dg-cell> 
      <clr-dg-cell>{{promo.diaDesde}}</clr-dg-cell>
      <clr-dg-cell>{{promo.diaHasta}}</clr-dg-cell>
      <clr-dg-cell>{{promo.mesDesde}}</clr-dg-cell>
      <clr-dg-cell>{{promo.mesHasta}}</clr-dg-cell>
      <clr-dg-cell>{{promo.horaDesde}}</clr-dg-cell>
      <clr-dg-cell>{{promo.horaHasta}}</clr-dg-cell>

      <clr-dg-cell>{{promo.diasActivaString}}</clr-dg-cell>
      <clr-dg-cell>{{promo.periodicidad}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{dataSource.length}}</clr-dg-footer>
  </clr-datagrid> 
