
<div class="login-wrapper" style="background-image:url(../assets/images/background/login-register.jpg);">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Bienvenido a</h3>
            LingüiniApp
            <h5 class="hint">Inicia sesión o registrate para tener una cuenta</h5>
        </section>
        <div class="login-group">
            <!-- <div class="auth-source select">
                <select id="login-auth-source-1">
                    <option>Local Users</option>
                    <option>Administrator</option>
                </select>
            </div> -->
            <input class="username" type="text" [(ngModel)]="username" requerid id="login_username" placeholder="Usuario"  [ngModelOptions]="{standalone: true}">
            <input class="password" type="password" [(ngModel)]="password" required id="login_password" placeholder="Contraseña" name="password">
            <!-- <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div> -->
            <div class="error active" *ngIf="isInvalid">
                Usuario o Contraseña invalidos
            </div>
            <div class="error active" *ngIf="complete">
                Debe completar todos los campos
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">Iniciar</button>

            <a (click)="registrarse()" href="javascript://" class="signup">Registrate</a>
            <a (click)="recuperar()" class="signup">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>