<h5>Roles / Crear nuevo rol</h5>


<form clrForm #f="ngForm" clrLayout="horizontal" novalidate>
  <h1>Crear Rol</h1>
  <p>Ingrese el nombre del rol, luego seleccione las acciones</p>
  <clr-input-container>
    <label>Nombre rol:</label>
    <input type="text" clrInput id="nombre" size="40" placeholder="Nombre del rol" name="nombre" ngModel #nombre="ngModel" required
    />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>



  <div class="clr-row">
    <div class="clr-col-6">
      <h3>Lista de acciones</h3>

      <clr-input-container>

        <label>Filtros :</label>


        <input placeholder="nombre acción" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchChange($event.target.value)"
        />
        <!-- </clr-input-container>
       
          <clr-input-container> -->


        <input placeholder="codigo acción" type="number" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchCodChange($event.target.value)"
        />


      </clr-input-container>
    </div>

      <div class="clr-col-6">

        <h3>Acciones del rol</h3>

      </div>
    <div class="clr-col-6">



      <clr-datagrid [(clrDgSelected)]="selectedAcciones">

        <clr-dg-column>
          Nombre Acción
        </clr-dg-column>
        <clr-dg-column>
          Código Acción
        </clr-dg-column>
    <!-- [clrDgSelected]="selected(prod.codigo)" -->

        <clr-dg-row *ngFor="let prod of dataSource" [clrDgItem]="prod">
          <clr-dg-cell>{{prod.nombre}}</clr-dg-cell>
          <clr-dg-cell>{{prod.codigo}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{dataSource.length}}</clr-dg-footer>
      </clr-datagrid>

    </div>
    <div class="clr-col-6">


      <clr-datagrid>

        <clr-dg-column>

          Nombre Acción
        </clr-dg-column>
        <clr-dg-column>

          Codigo Acción
        </clr-dg-column>

        <clr-dg-row *ngFor="let prod of selectedAcciones">
          <clr-dg-cell>

            {{prod.nombre}}

          </clr-dg-cell>
          <clr-dg-cell>
            {{prod.codigo}}

          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{selectedAcciones.length}}</clr-dg-footer>
      </clr-datagrid>
    </div>

  </div>

  <br>

  <br>
  <br>
  <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Agregar</a>
  <button class="btn btn-danger" (click)="volver()">Volver</button>

  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Error, intente nuevamente o consulte al administrador
        </div>
      </div>

    </div>
  </div>


  <div class="alert alert-app-level alert-info" *ngIf="correcto">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Rol creado correctamente
        </div>

      </div>
    </div>
    <button type="button" class="close" (clic)="cerrarCorrecto()" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Debe completar correctamente todos los campos
        </div>
      </div>

    </div>
  </div>

</form>