<h5>Categorias / Ver lista categorias</h5>


<div class="ver">
  <clr-datagrid [(clrDgSingleSelected)]="selectedProd" class="datagrid">
    
    <clr-dg-action-bar>
        <div class="btn-group">
          <button type="button" class="btn btn-success" (click)=agregarCategoria()><clr-icon shape="plus"></clr-icon>Agregar</button>
          <button type="button" class="btn btn-danger" *ngIf="selectedProd" (click)=quitarCategoria(selectedProd.codigo)><clr-icon shape="trash"></clr-icon>Eliminar</button>
          <button type="button" class="btn btn-primary" *ngIf="selectedProd" (click)=editarCategoria(selectedProd.codigo)><clr-icon shape="pencil"></clr-icon>Editar</button>
                 
        </div>
    </clr-dg-action-bar>
    
    
    
    <clr-dg-column>Nombre</clr-dg-column>
  
    <clr-dg-row [clrDgItem]="cat" *ngFor="let cat of dataSource " >    
      <clr-dg-cell>{{cat.nombre}}</clr-dg-cell>
    </clr-dg-row>
    <!-- <clr-dg-footer>{{dataSource.length}}</clr-dg-footer> -->
  </clr-datagrid>
  </div>