<ul class="list-group list-group-flush">
  <!-- <li class="list-group-item">{{pedido.cantidad}} <strong>$ {{pedido.nombreProducto}}</strong> {{pedido.precio}}</li> -->


  <li class="list-group-item">
    <h1>Mi pedido</h1>
  </li>


  <app-carrito-pedido [pedido]="pedido" [reserva]="reservaId" *ngFor="let pedido of pedidosSi" (delete)="deleteProducto($event)" (evento)="updateCant($event)"></app-carrito-pedido>
  <app-carrito-pedido [promocion]="promocion" [reserva]="reservaId" *ngFor="let promocion of promociones" (delete)="deleteProducto($event)" (evento)="updateCant($event)"></app-carrito-pedido>
  <app-carrito-pedido [recompensa]="recompensa" [reserva]="reservaId" *ngFor="let recompensa of recompensas" (delete)="deleteProducto($event)" (evento)="updateCant($event)"></app-carrito-pedido>

  
  <li class="list-group-item">
    <h2><strong>Total $ {{total}}</strong> </h2>
  </li>



</ul>
<br>


<textarea placeholder="Agregar comentarios" [(ngModel)]="comentario"  class="clr-textarea">{{comentario}}</textarea>
<button  (click)="guardarComentario(comentario)" class="btn btn-primary">Guardar Comentario</button>

<div class="alert alert-app-level alert-info" *ngIf="correcto1">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Comentario guardado correctamente
      </div>

    </div>
  </div>
  <button type="button" class="close" (click)="cerrarCorrecto()" aria-label="Close">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>



<br>
<p *ngIf="!estadia">Para confirmar el pedido primero debes hacer el check-in</p>

<div class="clr-row clr-justify-content-center">
  <button *ngIf="estadia" (click)="confirmarPedido()" class="btn btn-primary">Confirmar</button>
  <button *ngIf="!estadia" (click)="checkin()" class="btn btn-primary">Ir a Check-in</button>
  <button (click)="agregar()" class="btn btn-primary">Agregar más productos</button>
  <button (click)="volver()" class="btn btn-warning">Cancelar</button>
</div>



<div *ngIf="confirmado">

  <div class="modal" *ngIf="confirmado">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Confirmado!</h3>
        </div>
        <div class="modal-body">
  
   <p>El pedido ha sido confirmado, ya se encuentra en proceso de elaboración</p>
        </div>
        <a type="submit" (click)="verEstadia()" class="btn btn-success">Ver Estadia</a>
        <!-- <button class="btn btn-danger" (click)="borrar()">Eliminar</button> -->
        <!-- <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
  
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <div class="alert-text">
                Debe completar correctamente todos los campos
              </div>
            </div>
  
          </div>
        </div>
   -->
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
  </div>