
<h1>Mi Estadia</h1>
<h4 class="stack-header">
  <span class="stack-title">Sucursal Linguini 1</span>

</h4>
<dl class="stack-view">
  <div class="stack-block">
      <dt class="stack-block-label">Cliente:</dt>
      <dd class="stack-block-content">{{estadia.cliente}}</dd>
  </div>
  <div class="stack-block">
    <dt class="stack-block-label">Mozo:</dt>
    <dd class="stack-block-content">{{estadia.mozo}}</dd>
</div>
<div class="stack-block">
  <dt class="stack-block-label">Mesa:</dt>
  <dd class="stack-block-content">{{estadia.mesas}}</dd>
</div>

<div class="stack-block">
  <dt class="stack-block-label">Fecha:</dt>
  <dd class="stack-block-content">2018/11/09</dd>
</div>

<div class="stack-block">
  <dt class="stack-block-label">Reserva Nro:</dt>
  <dd class="stack-block-content">{{reservaId}}</dd>
</div>


<!-- <div class="stack-block">
  <dt class="stack-block-label">IVA:</dt>
  <dd class="stack-block-content">$ 49.35</dd>
</div> -->

<div class="stack-block">
  <dt class="stack-block-label">Total a Pagar:</dt>
  <dd class="stack-block-content">$ {{total}}</dd>
</div>

</dl>

<button  (click)="pagarPedido(nu)" class="btn btn-primary">Pagar</button>
