<h5>Lista de espera / Añadir a la lista</h5>


<form clrForm  #f="ngForm" clrLayout="horizontal" (ngSubmit)="onSubmit(f)" novalidate>
       
    <clr-input-container>
        <label>Nombre</label>
        <input type="text" clrInput required minlength="4" id="nombre" size="40" placeholder="Nombre del Cliente" name="nombre" ngModel  #nombre="ngModel" required/>
    <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Apellido</label>
        <input type="text" clrInput id="apellido" placeholder="Apellido del Cliente" name="apellido" ngModel  #nombre="ngModel" size="40" required/>
    <clr-control-error>Es requerido!</clr-control-error>
    </clr-input-container>
     
    <clr-select-container>
        <label>Cantidad de personas</label>
        <select clrSelect id="aForm_3" placeholder="Cantidad de Personas"  name="cantidaD" ngModel  #cantidaD="ngModel"  required>
            <option *ngFor="let cantidades of cantidad" [value]="cantidades.value">{{cantidades.value}}</option>
        </select>
    </clr-select-container>    
    <br><br> 
   
    
    <button type="submit" class="btn btn-primary" >Añadir a la lista</button>
    
    <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <div class="alert-text">
                  Debe completar correctamente todos los campos
              </div>

          </div>
      </div>
      <button type="button" (click)="cerrar()" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
      </div>

</form>

