#contenedorPanel {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e0dce6' fill-opacity='0.77' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

}

.main-container {
    padding: 0rem;
}

.blanco {
    color: antiquewhite;
}

.content-area {
    padding: 0rem;
}

.content-container {
    padding: 0rem;
}


.main-container .content-container .content-area {
    padding: 0rem !important;
}*/

h1 {
    font-family: 'Actor', sans-serif;
    font-size: 32px;
}