<!-- Bootstrap 3.3.7 
<link rel="stylesheet" href="../../../../../assets/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
<!-- Font Awesome -->
<link rel="stylesheet" href="../../../../../assets/bower_components/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="../../../../../assets/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load. -->

<div id="contenedorPanel" class="col-md-12">
    <div class="row">
        <div class=col-md-12>
            <h1>Panel de Administración</h1>
        </div>
    </div>

    <div class="row" style="padding-top:15px;">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="info-box bg-red ">
                <span class="info-box-icon "><i class="fa fa-bookmark-o "></i></span>
                <div class="info-box-content ">
                    <span class="info-box-text ">Reservas</span>
                    <span class="info-box-number ">{{cantReservasSemanal}}</span>
                    <!-- The progress section is optional -->
                    <div class="progress">
                        <div class="progress-bar " style="width: 100% "></div>
                    </div>
                    <span class="progress-description " [routerLink]="['/reservas/1']" routerLinkActive="router-link-active">
                        {{cantReservasSemanal}} esta semana.
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="info-box bg-green ">
                <span class="info-box-icon "><i class="fa fa-line-chart "></i></span>
                <div class="info-box-content ">
                    <span class="info-box-text ">Ingresos</span>
                    <span class="info-box-number ">${{ingresoMensual}}</span>
                    <!-- The progress section is optional -->
                    <div class="progress">
                        <div class="progress-bar " style="width: 15% "></div>
                    </div>
                    <span class="progress-description " [routerLink]="['/Ventas']" routerLinkActive="router-link-active">
                        Ver reportes de ventas
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="info-box bg-blue">
                <span class="info-box-icon"><i class="fa fa-star-half-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Valoración de clientes</span>
                    <span class="info-box-number"><b>{{valoracionPromedio}}</b>de 5</span>
                    <!-- The progress section is optional -->
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description ">
                            Basada en las últimas 10 reseñas
                        </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <!-- /.info-box -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="info-box bg-lime">
                <span class="info-box-icon"><i class="fa fa-hourglass-start"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Tiempo de espera de pedido</span>
                    <span class="info-box-number"><b>{{tpoEsperaPromedio}}</b> minutos</span>
                    <!-- The progress section is optional -->
                    <div class="progress">
                        <div class="progress-bar" [style.width]="porcentajeIncrementoTiempoEspera+'%'"></div>
                    </div>
                    <span class="progress-description">
                        {{porcentajeIncrementoTiempoEspera}}%  que el mes anterior
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Sucursales</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="text-align: center" *ngFor="let sucursal of sucursales">
                        <clr-dropdown>
                            <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                                    {{sucursal.nombre}}
                                    <clr-icon shape="caret down"></clr-icon>
                                </button>
                            <clr-dropdown-menu clrPosition="right-bottom" *clrIfOpen>
                                <label class="dropdown-header">Elige una opción</label>
                                <button type="button" clrDropdownItem [routerLink]="['/reservas/'+sucursal.numero]" routerLinkActive="router-link-active">Reservas </button>
                                <button type="button" clrDropdownItem [routerLink]="['/editarSucursal/'+sucursal.numero]" routerLinkActive="router-link-active">Editar sucursal </button>
                                <button type="button" clrDropdownItem [routerLink]="['/cargarMesaSector/'+sucursal.numero]" routerLinkActive="router-link-active">Editar mesas </button>
                                <div class="dropdown-divider"></div>
                                <clr-dropdown>
                                    <button type="button" clrDropdownTrigger>Carta</button>
                                    <clr-dropdown-menu>
                                        <button type="button" clrDropdownItem [routerLink]="['/verCarta/'+sucursal.numero]" routerLinkActive="router-link-active" >Ver</button>
                                        <button type="button" clrDropdownItem [routerLink]="['/crearCarta/'+sucursal.numero]" routerLinkActive="router-link-active">Crear</button>
                                    </clr-dropdown-menu>
                                </clr-dropdown>
                                <clr-dropdown>
                                    <button type="button" clrDropdownTrigger>Cajas</button>
                                    <clr-dropdown-menu>
                                        <button type="button" [routerLink]="['/abrir-caja/'+sucursal.numero]" routerLinkActive="router-link-active"  clrDropdownItem>Abrir</button>
                                        <button type="button"  [routerLink]="['/cerrar-caja/'+sucursal.numero]" routerLinkActive="router-link-active"  clrDropdownItem>Cerrar</button>
                                    </clr-dropdown-menu>
                                </clr-dropdown>
                                <clr-dropdown>
                                    <button type="button" clrDropdownTrigger>Pedidos</button>
                                    <clr-dropdown-menu>
                                        <button type="button" [routerLink]="['/verPedidos']" routerLinkActive="router-link-active"  clrDropdownItem>Ver pedidos</button>
                                        <button type="button"  [routerLink]="['/nuevoPedido/'+sucursal.numero]" routerLinkActive="router-link-active"  clrDropdownItem>Nuevo</button>
                                    </clr-dropdown-menu>
                                </clr-dropdown>
                                <clr-dropdown>
                                    <button type="button" clrDropdownTrigger>Reportes</button>
                                    <clr-dropdown-menu>
                                        <button type="button" [routerLink]="['/reportes/caja/sucursal/'+sucursal.numero]" routerLinkActive="router-link-active"  clrDropdownItem>Caja</button>
                                        <button type="button"  [routerLink]="['/reportes/mozo/sucursal/'+sucursal.numero]" routerLinkActive="router-link-active"  clrDropdownItem>Mozos Sucursal</button>
                                        <button type="button"  [routerLink]="['/reportes/productos/sucursal/'+sucursal.numero]" routerLinkActive="router-link-active"  clrDropdownItem>Productos</button>
                                        <button type="button"  [routerLink]="['/reportes/calificaciones/sucursal/'+sucursal.numero]" routerLinkActive="router-link-active"  clrDropdownItem>Reseñas</button>
                                        <button type="button"  [routerLink]="['/reportes/ventas/sucursal/'+sucursal.numero]" routerLinkActive="router-link-active"  clrDropdownItem>Ventas</button>
                                    </clr-dropdown-menu>
                                </clr-dropdown>
                                <button type="button" disabled clrDropdownItem>Empleados</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-6 ">
            <div class="box box-success ">
                <div class="box-header with-border">
                    <h3 class="box-title ">Acciones rápidas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="display: block; text-align: left ">
                        <button class="btn btn.bg-navy btn-block" [routerLink]="[ '/reservas/1'] " routerLinkActive="router-link-active"><i class="fa fa-bookmark-o" aria-hidden="true "></i> Reservas</button>
                        <button class="btn btn.bg-navy btn-block" [routerLink]="[ '/lista']" routerLinkActive="router-link-active"><i class="fa fa-list " aria-hidden="true"></i> Lista de Espera </button>
                        <button class="btn btn.bg-navy btn-block" [routerLink]="[ '/verProductos']" routerLinkActive="router-link-active"><i class="fa fa-beer" aria-hidden="true"></i> Productos</button>
                        <button class="btn btn.bg-navy btn-block" [routerLink]="[ '/lista-clientes']" routerLinkActive="router-link-active"><i class="fa fa-user-o" aria-hidden="true"></i> Clientes </button>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 ">
            <div class="box box-primary ">
                <div class="box-header with-border ">
                    <h3 class="box-title ">Reservas de última semana</h3>
                    <div class="box-tools pull-right ">
                        <button class="btn btn-icon btn-info-outline " (click)="redirigir( 'reservas') "><i class="fa fa-pencil-square-o "
                                aria-hidden="true "></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <!-- <canvas id="barChart ">{{graficoBarra}}</canvas> -->
                    <canvas id="barChart"></canvas>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <p>Promedio de reservas esta semana: <b> {{cantReservasSemanal}}</b></p>
                    <hr>
                </div>
                <!-- box-footer -->
            </div>
            <!-- /.box -->
        </div>

        <div class="col-md-6 ">
            <div class="box box-info ">
                <div class="box-header with-border ">
                    <h3 class="box-title ">Reseñas de clientes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <!-- <canvas id="lineChart ">{{ graficoLineaReviews }}</canvas> -->
                    <canvas id="lineChart"></canvas>
                </div>
                <!-- /.box-body -->
                <div class="box-footer ">
                    <p>Mejor mes: {{mejorMesResenas}}</p>
                    <p>Peor mes: {{peorMesResenas}}</p>
                    <hr>
                </div>
                <!-- box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</div>