<div class="branding">
  <div *ngIf="cant != 0" class="clr-row clr-justify-content-end">.
    <button class="btn btn-primary btn-sm" (click)="verPedido()">Ver Pedido</button>
    <clr-icon shape="shopping-cart" size="38" class="has-badge is-solid"></clr-icon>
    <span class="badge badge-success">{{cant}}</span>
    <span><strong>${{total}}</strong></span>

  </div>

</div>

<h2>Seleccione el menu</h2>

<div *ngIf="ok">
  <h1>Lo sentimos, esta categoria no tiene productos en este momento</h1>

</div>
<div class="card-columns">

  <app-tarjeta-producto [producto]="producto" [numeroReserva]="numeroReserva" *ngFor="let producto of productos "
    (evento)="updateCant($event)"></app-tarjeta-producto>
</div>