<em>En esta sección podrás encontrar videotutoriales para enseñarte a usar el sistema.</em>
<br>
<div class ="col-xs-12" style="display: block" *ngIf="tipoUsuario == 'cliente'">
  <!-- <a class="btn-btn-link" href="linkyoutube" target="_blank">Título del video</a>
  <br> -->
  <a class="btn btn-outline-primary btn-block linkvideo"  href="https://youtu.be/YYRcpJL-epg" target="_blank">Registrar cliente</a>
  <a class="btn btn-outline-primary btn-block linkvideo" href="https://youtu.be/OCIlHsG9VDo" target="_blank">Ver perfil del cliente</a>
  <a class="btn btn-outline-primary btn-block linkvideo" href="https://youtu.be/1r9rdQkQKjg" target="_blank">Realizar reservas</a>
  <a class="btn btn-outline-primary btn-block linkvideo" href="https://youtu.be/FdyiDT-iq5k" target="_blank">Realizar un pedido en tu reserva</a>
</div>
<div class ="col-xs-12" style="display: block" *ngIf="tipoUsuario == 'empleado'">
  <!-- <a class="btn-btn-link" href="linkyoutube" target="_blank">Título del video</a>
  <br> -->
</div>