<h5>Roles / Ver lista roles</h5>


<div class="ver">
  <clr-datagrid [(clrDgSingleSelected)]="selectedRol" class="datagrid">
    
    <clr-dg-action-bar>
        <div class="btn-group">
          <button type="button" class="btn btn-success" (click)=agregarRol()><clr-icon shape="plus"></clr-icon>Agregar</button>
          <button type="button" class="btn btn-danger" *ngIf="selectedRol" (click)=eliminarRol(selectedRol.codigo)><clr-icon shape="trash"></clr-icon>Eliminar</button>
          <button type="button" class="btn btn-primary" *ngIf="selectedRol" (click)=editarRol(selectedRol.codigo)><clr-icon shape="pencil"></clr-icon>Editar</button>
                 
        </div>
    </clr-dg-action-bar>
    
    
    
    <clr-dg-column>Nombre</clr-dg-column>
  
    <clr-dg-row [clrDgItem]="rol" *ngFor="let rol of dataSource, let i=index" >    
      <clr-dg-cell>{{rol.nombre}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{dataSource.length}}</clr-dg-footer>
  </clr-datagrid>
  </div>