<h1>Recompensas</h1>
<br>

<clr-input-container>
  <label>Filtros :</label>
  <input placeholder="nombre recompensa" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchChange($event.target.value)" />
</clr-input-container>

<clr-datagrid [(clrDgSingleSelected)]="selectedProd" class="datagrid">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-success" (click)=agregarRecompensa()>
        <clr-icon shape="plus"></clr-icon>Agregar
      </button>
      <button type="button" class="btn btn-danger" *ngIf="selectedProd" (click)=eliminarRecompensa(selectedProd.codigo)>
        <clr-icon shape="trash"></clr-icon>Eliminar
      </button>
    </div>
  </clr-dg-action-bar>

  <clr-dg-column>Nombre</clr-dg-column>
  <clr-dg-column>Puntos</clr-dg-column>
  <clr-dg-column>Productos</clr-dg-column>

  <clr-dg-row *ngFor="let recompensa of dataSource" [clrDgItem]="recompensa">
    <clr-dg-cell>{{recompensa.nombre}}</clr-dg-cell>
    <clr-dg-cell>{{recompensa.puntos}}</clr-dg-cell>
    <clr-dg-cell><span style="font-size:14px" class="badge" *ngFor="let producto of recompensa.productos">{{producto.cantidad}}
        {{producto.nombre}}</span></clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>