<clr-main-container>
    <h1>Editar Cliente</h1>
    <form *ngIf="editarClienteGroup" clrForm [formGroup]="editarClienteGroup" clrLayout="horizontal" novalidate>
        <clr-input-container>
            <label>Nombre</label>
            <input clrInput type=" text " name="nombre " size="40 " placeholder="Nombre " formControlName="nombre">
            <clr-control-error *clrIfError=" 'required' ">¡Campo requerido!</clr-control-error>
        </clr-input-container>
        <clr-input-container>
            <label>Apellido</label>
            <input clrInput type="text " size="40 " placeholder="Apellido " formControlName="apellido" name="apellido">
            <clr-control-error *clrIfError=" 'required' ">¡Campo requerido!</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Dirección</label>
            <input clrInput type="text " size="40 " placeholder="Dirección " formControlName="direccion" name="direccion">
            <clr-control-error *clrIfError=" 'required' ">¡Campo requerido!</clr-control-error>
        </clr-input-container>
        <clr-select-container>
            <label>Sexo</label>
            <select clrSelect placeholder="Sexo " formControlName="sexo">
                <option *ngFor="let sexo of sexos " [value]="sexo.value ">{{sexo.value}}</option>
            </select>
        </clr-select-container>
        <clr-input-container>
            <label>E-mail</label>
            <input clrInput type="text " name="email " size="40 " placeholder="Ingrese un e-mail " formControlName="email">
            <clr-control-error *clrIfError=" 'required' ">¡Campo requerido!</clr-control-error>
            <clr-control-error *clrIfError=" 'email' ">Ingrese una dirección e-mail válida</clr-control-error>
        </clr-input-container>
        <clr-input-container>
            <label>Teléfono</label>
            <input clrInput type="number " name="telefono " size="40 " placeholder="Ingrese un número de teléfono " formControlName="telefono">
            <clr-control-error *clrIfError=" 'required' ">¡Campo requerido!</clr-control-error>
        </clr-input-container>
        <clr-input-container>
            <label>Fecha de Nacimiento</label>
            <!-- <input clrInput type="date " [(clrDate)]="clienteFNac " [(ngModel)]="clienteFNac " name="fechaNacimiento " formControlName="fecha "> -->
            <input clrInput type="date" clrDate name="fechaNacimiento " formControlName="fecha">
        </clr-input-container>


        <a type=" submit " *ngIf="editarClienteGroup.status =='VALID'" (click)=onSubmit() class=" btn btn-primary ">Editar Cliente</a>
        <a href="/reservas " class="btn btn-secondary ">Volver</a>

        <div class=" alert alert-app-level alert-danger " style=" margin-bottom:24px " *ngIf="editarClienteGroup.status == 'INVALID'">
            <div class=" alert-items ">
                <div class=" alert-item static ">
                    <div class=" alert-icon-wrapper ">
                        <clr-icon class=" alert-icon " shape=" exclamation-circle "></clr-icon>
                    </div>
                    <div class=" alert-text ">
                        Debe completar correctamente todos los campos
                    </div>

                </div>
            </div>
        </div>
    </form>
    <p>Form value {{ editarClienteGroup.value | json }} </p>
    <p> Form status {{ editarClienteGroup.status | json}} </p>
</clr-main-container>