

<h5>Promociones / Crear crear promoción</h5>

<form clrForm #f="ngForm" clrLayout="horizontal" novalidate>
    <h1>Promociones</h1>

    <div class="clr-row">
        <div class="clr-col-6">

          <h3>Productos</h3>
          <clr-datagrid [(clrDgSelected)]="selectedProd">
    
            <clr-dg-column>Nombre Producto</clr-dg-column>
            <clr-dg-column>Categoria</clr-dg-column>
    
            <clr-dg-row *ngFor="let prod of dataSource" [clrDgItem]="prod">
              <clr-dg-cell>{{prod.nombre}}</clr-dg-cell>
              <clr-dg-cell>{{prod.categoria}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>{{dataSource.length}}</clr-dg-footer>
          </clr-datagrid>
    
    
        </div>
        <div class="clr-col-6">
            <h3>Productos de la promoción</h3>

          <clr-datagrid >
    
            <clr-dg-column>Nombre Producto</clr-dg-column>
            <clr-dg-column>Cantidad</clr-dg-column>
    
            <clr-dg-row *ngFor="let prod of selectedProd" >
              <clr-dg-cell>{{prod.nombre}}</clr-dg-cell>
              <clr-dg-cell>
                <input type="number" min="1" placeholder="cantidad de prod" required name="prod.cantidad" [(ngModel)]="prod.cantidad" ngModel #prod.cantidad="ngModel">
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>{{selectedProd.length}}</clr-dg-footer>
          </clr-datagrid>
        </div>
    
      </div>
  <clr-input-container>
    <label>Nombre:</label>
    <input type="text" clrInput id="nombre" size="40" placeholder="Nombre de la promoción" name="nombre" ngModel #nombre="ngModel"
      required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Descripción:</label>
    <input type="text" clrInput id="desc" size="40" placeholder="Descripción de la promoción" name="desc" ngModel #nombre="ngModel"
      required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Precio:</label>
    <input type="number" min="1" clrInput id="precio" size="40" placeholder="Precio de la promoción" name="precio" ngModel #nombre="ngModel"
      required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>

  <clr-select-container>
    <label>Periodicidad</label>
    <select clrSelect id="per" placeholder="Periodicidad" name="per" ngModel #nombre="ngModel" required [(ngModel)]="codPeriodicidad">
      <option *ngFor="let per of dataSourcePer, let i=index" [value]="per.codigo">{{per.nombre}}</option>
    </select>
  </clr-select-container>

  <!--   
  <clr-input-container>
    <label>Descuento:</label>
    <input type="number" min="1" clrInput id="descuento" size="40" placeholder="Descuento" name="descuento" ngModel #nombre="ngModel"
      required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container> -->
  <!-- <div *ngIf="codPeriodicidad == 1 || codPeriodicidad == 2 ">
  <clr-input-container >
    <label>Fecha desde</label>
    <input id="dateControl" clrInput type="date" clrDate ngModel name="dateDesde" />
  </clr-input-container>


  <clr-input-container>
    <label>Fecha hasta</label>
    <input id="dateControl" clrInput type="date" clrDate ngModel name="date" />
  </clr-input-container>

</div> -->
  <clr-input-container>
    <label>Días desde:</label>
    <input type="number" min="1" max="31" clrInput id="vigdesde" size="40" placeholder="Vigencia desde" name="vigdesde" ngModel
      #nombre="ngModel" required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Días hasta:</label>
    <input type="number" min="1" max="31" clrInput id="vighasta" size="40" placeholder="Vigencia hasta" name="vighasta" ngModel
      #nombre="ngModel" required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>



  <clr-input-container>
    <label>Hora desde:</label>
    <input type="text" clrInput id="horadesde" size="40" placeholder="Hora desde:" name="horadesde" ngModel #nombre="ngModel"
      required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Hora hasta:</label>
    <input type="text" clrInput id="horahasta" size="40" placeholder="Hora hasta:" name="horahasta" ngModel #nombre="ngModel"
      required />
    <clr-control-error>Es requerido!</clr-control-error>
  </clr-input-container>


  <clr-input-container>


    <label>Días activos:</label>
  </clr-input-container>
  <div class="checkbox">
    <clr-checkbox name="termsCheckbox" id="checkrads_11" [(ngModel)]="weekMask.lunes">
      <strong>Lunes</strong>

    </clr-checkbox>
    <clr-checkbox name="termsCheckbox" id="checkrads_12" [(ngModel)]="weekMask.martes">
      <strong>Martes</strong>

    </clr-checkbox>
    <clr-checkbox name="termsCheckbox" id="checkrads_13" [(ngModel)]="weekMask.miercoles">
      <strong>Miercoles</strong>

    </clr-checkbox>
    <clr-checkbox name="termsCheckbox" id="checkrads_14" [(ngModel)]="weekMask.jueves">
      <strong>Jueves</strong>

    </clr-checkbox>
    <clr-checkbox name="termsCheckbox" id="checkrads_15" [(ngModel)]="weekMask.viernes">
      <strong>Viernes</strong>

    </clr-checkbox>
    <clr-checkbox name="termsCheckbox" id="checkrads_16" [(ngModel)]="weekMask.sabado">
      <strong>Sabado</strong>

    </clr-checkbox>
    <clr-checkbox name="termsCheckbox" id="checkrads_17" [(ngModel)]="weekMask.domingo">
      <strong>Domingo</strong>

    </clr-checkbox>


  </div>


  <br>
  <br>
  <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Agregar</a>
  <button class="btn btn-danger" (click)="volver()">Volver</button>
  <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          Debe completar correctamente todos los campos
        </div>
      </div>

    </div>
  </div>



  

</form>