<form clrForm #f="ngForm" clrLayout="horizontal" novalidate>
  <h1>Ver Cartas</h1>
  <p>Seleccione la sucursal para ver su cata actual, luego seleccione el producto para obtener detalles</p>
  <clr-input-container>

    <label>Filtros :</label>


    <input placeholder="nombre" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchChange($event.target.value)"
    />
    <!-- </clr-input-container>
       
          <clr-input-container> -->


    <input placeholder="precio" type="number" clrInput name="busqueda" #busqueda ngModel #nombre="ngModel" (input)="onSearchCodChange($event.target.value)"
    />


  </clr-input-container>

  <clr-select-container>
    <label>Sucursal</label>
    <select clrSelect id="sucursal" placeholder="Sucursal" (change)="sucursalChange()" name="sucursal" ngModel #nombre="ngModel" [(ngModel)]="sucursal"
    required>
      <option *ngFor="let sucursal of sucursales, let i=index" [value]="sucursal.numero">{{sucursal.nombre}}</option>
    </select>
  </clr-select-container>


    <clr-select-container>
      <label>Categoría</label>
      <select clrSelect id="cat" (change)="categoriaChange()" placeholder="Categoría" name="cat" ngModel #nombre="ngModel"
        [(ngModel)]="codCategoria" required>
        <option *ngFor="let cat of listaCategoria" [value]="cat.codigo">{{cat.nombre}}</option>
      </select>
    </clr-select-container>


  <h3>Productos de la carta</h3>

  <clr-datagrid [(clrDgSingleSelected)]="selectedProd1" class="datagrid">
    <clr-dg-action-bar>
      <div class="btn-group">
        <!-- <button type="button" class="btn btn-success" (click)=asignarNuevo()><clr-icon shape="plus"></clr-icon>Asignar nueva
          carta</button> -->
        <!-- <button type="button" class="btn btn-danger" *ngIf="selectedProd1" (click)=verProducto(selectedProd1.codigo)><clr-icon shape="trash"></clr-icon>Eliminar</button> -->
        <button type="button" class="btn btn-primary" *ngIf="selectedProd1" (click)=verProducto(selectedProd1.codigo)><clr-icon
            shape="pencil"></clr-icon>Ver Producto</button>

      </div>
    </clr-dg-action-bar>
    <clr-dg-column>

      Nombre Producto
    </clr-dg-column>
    <clr-dg-column>Precio</clr-dg-column>
    <clr-dg-column>Categoria</clr-dg-column>


    <clr-dg-row *ngFor="let prod of selectedProd" [clrDgItem]="prod">
      <clr-dg-cell>
        {{prod.nombre}}
      </clr-dg-cell>
      <clr-dg-cell>
        $ {{prod.precio}}
      </clr-dg-cell>
      <clr-dg-cell>
        {{prod.categoria}}
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{selectedProd.length}}</clr-dg-footer>
  </clr-datagrid>
  <!-- </div> -->

  <!-- </div> -->

  <br>
  <br>

</form>

<!-- <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Agregar</a> -->
<!-- <button class="btn btn-danger" (click)="volver()">Ver lista </button> -->
<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Debe completar correctamente todos los campos
      </div>
    </div>

  </div>
</div>

<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="completePrecio">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Complete correctamente el precio de cada producto
      </div>
    </div>

  </div>
</div>

<div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="error">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Error, intente nuevamente o consulte al administrador
      </div>
    </div>

  </div>
</div>


<div class="alert alert-app-level alert-info" *ngIf="correcto">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Carta creada correctamente
      </div>

    </div>
  </div>
  <button type="button" class="close" (clic)="cerrarCorrecto()" aria-label="Close">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>

<clr-modal *ngIf="producto" [(clrModalOpen)]="basic">
  <div class="modal-body">
    <div class="card">
      <div class="card-img">
        <img src={{imagen}}>
      </div>
      <div class="card-block">
        <h4 class="card-title">{{producto.nombre}}</h4>
        <p class="card-text">
          {{descripcion}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: <strong>$ {{producto.montoPesos}}</strong></li>
      </ul>
    </div>
  </div>
</clr-modal>