<div class="modal-dialog" role="dialog" aria-hidden="true" *ngIf="!acepta">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-label="Close" class="close" type="button" (click)="cerrar()">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
      <h3 class="modal-title">Sucursal</h3>
    </div>
    <div class="modal-body">

      Esta seguro de eliminar la sucursal {{sucursal.nombre}}?



    </div>
    <button class="btn btn-success" (click)="eliminar()">Eliminar</button>
    <button class="btn btn-danger" (click)="volver()">Volver</button>
    <!-- <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="alert-text">
            Debe completar correctamente todos los campos
          </div>
        </div>

      </div>
    </div> -->

  </div>
</div>

<div class="modal-backdrop" aria-hidden="true"></div>


<div class="modal-dialog" role="dialog" aria-hidden="true" *ngIf="acepta">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-label="Close" class="close" type="button" (click)="cerrar()">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
      <h3 class="modal-title">Sucursal</h3>
    </div>
    <div class="modal-body">

      La sucursal fue eliminada correctamente



    </div>
    <button class="btn btn-success" (click)="volverMenu()">Menú</button>
    <button class="btn btn-danger" (click)="volver()">Volver</button>
    <!-- <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">

      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="alert-text">
            Debe completar correctamente todos los campos
          </div>
        </div>

      </div>
    </div> -->

  </div>
</div>

<div class="modal-backdrop" aria-hidden="true"></div>