<link rel="stylesheet" href="../../../../../assets/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../../assets/css/AdminLTE.min.css">
<div class="container-fluid no-margin">
  <div class="row">
    <h1>Reporte de Calificaciones</h1>
    <hr>
  </div>
  <div class="row" style="margin-top: 40px" *ngIf="!busqueda">
    <form clrForm [formGroup]="reporteGroup" clrLayout="horizontal" novalidate>
      <em>Seleccioná un rango de fechas para que generemos el reporte.</em>
      <clr-date-container style="width: 100%">
        <label for="fechaDesde">Fecha desde</label>
        <input id="fechaDesde" type="date" clrDate autocomplete="off" formControlName="fechaDesde">
      </clr-date-container>
      <clr-date-container style="width: 100%">
        <label for="fechaHasta">Fecha Hasta</label>
        <input id="fechaHasta" type="date" clrDate autocomplete="off" formControlName="fechaHasta">
      </clr-date-container>
      <div style="width: 100%">
                <span *ngIf="reporteGroup.touched && reporteGroup.dirty && reporteGroup.getError('rangoFechas')"
                      style="color: red; margin-left: 15px ">Ingrese un rango de fechas válido</span>
      </div>
      <div style="width: 100%" style="margin-left: 10px">
        <button class="btn btn-primary" [disabled]="reporteGroup.status !== 'VALID'" (click)="enviarQuery()">
          Buscar
        </button>
      </div>
    </form>
  </div>
  <div class="row" *ngIf="busqueda">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-maroon"><i class="fa fa-star-half-empty"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Promedio:</span>
          <span class="info-box-number"> {{ promedio }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-circle-o"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Cantidad de calificaciones</span>
          <span class="info-box-number"> {{ calificaciones.length}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-calendar-check-o"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Fechas</span>
          <span class="info-box-number">{{ reporteGroup.value.fechaDesde | date:'dd/MM/yy'}} a {{ reporteGroup.value.fechaHasta | date:'dd/MM/yy'}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="row" style="width: 100%" *ngIf="busqueda">
      <!-- Aca el  datagrid -->
      <clr-datagrid style="width: 100%">
        <!--     fechaFactura: string;
    numeroFactura: number;
    numeroSucursal: number;
    nombreSucursal: string;
    montoFacturado: number; -->
        <clr-dg-column>Fecha</clr-dg-column>
        <clr-dg-column>Cliente</clr-dg-column>
        <clr-dg-column>Valoración</clr-dg-column>
        <clr-dg-column>Comentarios</clr-dg-column>
        <clr-dg-column>Sucursal</clr-dg-column>
        <clr-dg-row *ngFor="let fila of calificaciones">
          <clr-dg-cell>{{ fila.fechaHora | date:'dd/MM/yy' }}</clr-dg-cell>
          <clr-dg-cell>{{ fila.nombreCliente + '' + fila.apellidoCliente }}</clr-dg-cell>
          <clr-dg-cell>{{ fila.calificacion }}</clr-dg-cell>
          <clr-dg-cell>{{ fila.comentarios }}</clr-dg-cell>
          <clr-dg-cell>{{ fila.nombreSucursal }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{ calificaciones.length }}reseñas encontradas</clr-dg-footer>
      </clr-datagrid>
      <button class="btn btn-primary" (click)="habilitarBusqueda()">Realizar otra consulta</button>
      <button class="btn btn-primary-outline" (click)="volverPanel()">Volver</button>
    </div>
  </div>
</div>