<h1>Editar reserva</h1>
<br>


<form clrForm #f="ngForm" clrLayout="horizontal" (ngSubmit)="onSubmit(f)" novalidate>

    <clr-input-container>
        <label>Nombre</label>
        <input clrInput type="text" readonly minlength="4" id="nombre" size="40" placeholder="Nombre del Cliente"
            [(ngModel)]="reserva.nombre" name="nombre" ngModel #nombre="ngModel">
    </clr-input-container>


    <clr-select-container>
        <label>Mesa a reservar</label>
        <select clrSelect id="aForm_3" placeholder="Mesa a reservar" [(ngModel)]="reserva.mesas[0]" name="mes">
            <option *ngFor="let mes of mesa" [value]="mes.value">{{mes.value}}</option>
        </select>
    </clr-select-container>

    <clr-select-container>
        <label>Cantidad de personas</label>
        <select clrSelect id="aForm_3" placeholder="Cantidad de Personas" [(ngModel)]="reserva.cantidad" name="cant">
            <option *ngFor="let cant of cantidad" [value]="cant.value">{{cant.value}}</option>
        </select>
    </clr-select-container>   

    <clr-input-container>
        <label>Fecha</label>
        <label for="fecha" aria-haspopup="true" role="tooltip" [class.invalid]="fecha.touched && !fecha.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
            <input type="date" [(clrDate)]="date" id="fecha" required [(ngModel)]="reserva.fecha" name="fecha" #fecha="ngModel">
            <span class="tooltip-content">
                This field cannot be empty!
            </span>
        </label>
    </clr-input-container>

    <clr-input-container>
        <label>Hora</label>
        <label for="hora" aria-haspopup="true" role="tooltip" [class.invalid]="hora.touched && !hora.valid"
            class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
            <input type="text" id="hora" [ngxTimepicker]="picker" required [(ngModel)]="reserva.hora"
                name="hora" #hora="ngModel">
            <ngx-material-timepicker #picker></ngx-material-timepicker>
            <span class="tooltip-content">
                This field cannot be empty!
            </span>
        </label>
    </clr-input-container>
    <br>

    <a type="submit" (click)=onSubmit(f) class="btn btn-primary">Editar Reserva</a>
    <a href="/reservas" class="signup">Volver</a>

    <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" *ngIf="complete">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    Debe completar correctamente todos los campos
                </div>

            </div>
        </div>
        <button type="button" (click)="cerrar()" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

</form>