<h5>Productos / Editar producto</h5>

<div class="modal" (ngSubmit)="onSubmit(f)">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="cerrar()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Producto</h3>
      </div>
      <div class="modal-body">
        <form clrForm #f="ngForm" clrLayout="horizontal" novalidate>
          <clr-input-container>
            <label>Nombre producto:</label>
            <input clrInput type="text"  minlength="4" id="nombre" size="40"
             placeholder="Nombre del Producto" [(ngModel)]="producto.nombre" name="nombre" ngModel  #nombre="ngModel">       
            <clr-control-error>Es requerido!</clr-control-error>
          </clr-input-container>
          
            <clr-select-container>
              <label>Categoría</label>
              <select clrSelect id="cat" placeholder="Categoria"  [(ngModel)]="producto.categoria" name="cat">
                <option *ngFor="let cat of dataSource" [value]="cat.nombre" >{{cat.nombre}}</option>
            </select>         
            </clr-select-container>         
  

          <br>
          <br>

          <clr-input-container> 
            <!-- [ngModel]="imagenPerfil.image" (ngModelChange)="actualizarImagen($event)" -->
            <label >Agregar imagen</label>
            <!-- <input type="file" multiple (change)="fileChange(input)" #input /> -->
             <input type="file" clrInput multiple  name="foto" (change)="fileChange(foto)"  #foto  accept=".png,.jpg,.jpeg" ngModel id="foto">
    </clr-input-container>
    
    
    <div *ngIf="producto.foto">
        <img  class="img-fluid img-thumbnail" style="width: 50%; height: auto;" [src]='getImage(producto.foto)' />
    </div>


        </form>
      </div>
      <a type="submit" (click)="onSubmit(f)" class="btn btn-success">Editar Producto</a>
      <button class="btn btn-danger" (click)="volver()">Volver</button>
      <!-- <div class="alert alert-app-level alert-danger" style="margin-bottom:24px" >

        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text">
              Debe completar correctamente todos los campos
            </div>
          </div>

        </div>
      </div> -->

    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>