<h5>Estadias / Ver estadias actualues</h5>

<h3>Clickee sobre la mesa para ver el estado actual</h3>

<div class="clr-row clr-justify-content-first ">

    <div class="card">
        <img class="card-img" src="../../../../../assets/layaout.jpeg">
        <div class="card-img-overlay">
            <a [ngStyle]="{'cursor':'pointer'} " *ngFor="let item of items" (click)="verEstadia(item)">
                <img class="img-fluid" [src]="item.stat == 0 ? urlMesa : item.stat == 1 ? urlMesaRed : urlMesaGreen" style="position: absolute;"
                    [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
                <strong style="cursor: pointer ;position: absolute;" [ngStyle]="{'left': item.x + 'px', 'top': item.y + 'px'}">
                    {{item.cantidad}}</strong>
            </a>
        </div>
    </div>
</div>


<div class="modal" *ngIf="estadia">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button" (click)="cerrarModal()">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">Estadia:</h3>
            </div>
            <div class="modal-body" *ngIf="estadiaSeleccionada">
                <h4 class="stack-header">
                    <span class="stack-title">Sucursal número: {{estadiaSeleccionada.sucursal}}</span>

                </h4>
                <dl class="stack-view">
                    <div class="stack-block">
                        <dt class="stack-block-label">Cliente:</dt>
                        <dd class="stack-block-content">{{estadiaSeleccionada.cliente}}</dd>
                    </div>
                    <div class="stack-block">
                        <dt class="stack-block-label">Mozo:</dt>
                        <dd class="stack-block-content">{{estadiaSeleccionada.mozo}}</dd>
                    </div>
                    <div class="stack-block">
                        <dt class="stack-block-label">Mesas:</dt>
                        <dd class="stack-block-content"><span *ngFor="let m of estadiaSeleccionada.mesas"> {{m}} </span></dd>
                    </div>

                    <div class="stack-block">
                        <dt class="stack-block-label">Fecha:</dt>
                        <dd class="stack-block-content">{{estadiaSeleccionada.fechaHoraLlegada}}</dd>
                    </div>

                    <div class="stack-block">
                        <dt class="stack-block-label">Reserva Nro:</dt>
                        <dd class="stack-block-content">{{estadiaSeleccionada.reserva}}</dd>
                    </div>

                    <div class="stack-block">
                        <dt class="stack-block-label">Consumición: </dt>
                        <dd class="stack-block-content">$ {{estadiaSeleccionada.total}}</dd>
                        <div class="stack-children">
                            <div class="stack-block" *ngFor="let item of estadiaSeleccionada.detalles">
                                <dt class="stack-block-label">{{item.cantidad}} {{item.nombre}}</dt>
                                <dd class="stack-block-content">$ {{item.precio}}</dd>
                            </div>
                        </div>
                    </div>

                    <div class="stack-block">
                        <dt class="stack-block-label">Total a Pagar:</dt>
                        <dd class="stack-block-content">$ {{total}}</dd>
                    </div>

                </dl>
<!-- 
                <button (click)="pagarPedido()" class="btn btn-primary">Pagar</button> -->
            </div>

            <div class="modal-body" *ngIf="!estadiaSeleccionada">
                    <h4 class="stack-header">
                        <span class="stack-title">La mesa no posee una estadia</span>
    
                    </h4>
  
                </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</div>