<div class="branding">
    <div *ngIf="cant != 0" class="clr-row clr-justify-content-end">.
      <button class="btn btn-primary btn-sm" (click)="verPedido()">Ver Pedido</button>
      <clr-icon shape="shopping-cart" size="38" class="has-badge is-solid"></clr-icon>
      <span class="badge badge-success">{{cant}}</span>
      <span><strong>${{total}}</strong></span>
  
    </div>
  
  </div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <app-tarjeta-promociones [numeroReserva]="numeroReserva" [promocion]="promocion" *ngFor="let promocion of dataSource" (evento)="updateCant($event)"></app-tarjeta-promociones>
    </div>
</div>