<h5>Reportes / Ver reportes de ventas</h5>


<form clrForm clrLayout="horizontal" [formGroup]="ventas" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

<h1>Reportes de ventas</h1>

<clr-input-container>
  <label for="dateControl1">Fecha inicio:</label>
  <input id="dateControl1" clrInput type="date1" clrDate formControlName="date1" name="date1"/>

</clr-input-container>

<clr-input-container>
  <label for="dateControl2">Fecha fin:</label>
  <input id="dateControl2" clrInput type="date2" clrDate formControlName="date2" name="date2" />
</clr-input-container>
<br>
<br>

<button class="btn btn-primary" (click)="obtenerReportes()">Obtener reportes</button>
<!-- 
<clr-datagrid>
  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Creation date</clr-dg-column>
  <clr-dg-column>Favorite color</clr-dg-column>

  <clr-dg-row >
      <clr-dg-cell></clr-dg-cell>
      <clr-dg-cell></clr-dg-cell>
      <clr-dg-cell></clr-dg-cell>
      <clr-dg-cell></clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>ventas</clr-dg-footer>

</clr-datagrid>
</form> -->